@use "./vars" as *;
@use "./mixins" as *;
@use "../mixins" as *;

.banner {
  @include flex(column, center, center);
  gap: 1rem;
  width: 70%;
  margin: 1.5rem auto 0 auto;
  padding: 1rem;
  border-radius: var(--border-radius--xl);
  color: var(--color--white);
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--light-blue-1) 0%,
    var(--color--light-blue-4) 99.23%
  );

  @include useScreen("mobile-md") {
    padding: 1.2rem;
  }
  @include useScreen("tablet-sm") {
    padding: 1.5rem;
  }

  &__text {
    color: var(--color--white);
    font-size: var(--font-size--4);
  }

  button {
    align-self: flex-end;
  }
}
[data-theme="dark"] .banner {
  color: var(--color--black);
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--orange-1) 0%,
    var(--color--orange-4) 99.23%
  );

  &__text {
    color: var(--color--black);
  }
}
