@use "./mixins" as *;
@use "../mixins" as *;

.contacts {
  &-page {
    @include flex(column, center, center);
    gap: 2rem;
  }

  &-block {
    @include flex(column, center, center);
    gap: 2rem;

    @include useScreen("tablet-sm") {
      flex-direction: row;
      margin-top: -4rem;
    }
    @include useScreen("tablet-md") {
      margin-top: -5rem;
    }
    @include useScreen("tablet-lg") {
      margin-top: -6rem;
    }
    @include useScreen("tablet-xl") {
      margin-top: -7rem;
    }
  }

  &__form {
    @include flex(column, center, center);
    gap: 1rem;
    position: relative;
    width: 100%;
  }

  &__inputs {
    @include flex(column, center, center);
    gap: 1rem;
    width: 100%;

    @include useScreen("mobile-xl") {
      flex-direction: row;
    }
  }

  &__input {
    @include area(
      var(--color--white),
      var(--color--orange-2),
      var(--color--light-blue-2),
      var(--color--light-blue-3),
      var(--color--blue-grey-1)
    );
    width: 100%;
    padding: 10px;

    &-block {
      @include flex(column, center, flex-start);
      gap: 0.3rem;
      position: relative;
      width: 100%;
    }

    &-error {
      position: absolute;
      right: 0px;
      color: var(--color--red-light);
      font-size: var(--font-size--9);
      line-height: 1.2;
      text-align: right;

      &-email {
        bottom: 2.8rem;
        width: 74%;

        @include useScreen("tablet-sm") {
          line-height: 0.8;
          bottom: 3.6rem;
          width: 134%;
          right: -45px;
        }
        @include useScreen("tablet-md") {
          bottom: 2.6rem;
          width: 70%;
          right: 0px;
        }
        @include useScreen("desktop-md") {
          width: 55%;
        }

        &-modal {
          width: auto;

          @include useScreen("tablet-sm") {
            right: 0px;
            bottom: 2.8rem;
            width: 65%;
          }
          @media screen and (min-width: 2000px) {
            width: auto;
          }
        }
      }

      &-text {
        bottom: 2.5rem;
        width: 70%;

        @media screen and (min-width: 420px) {
          bottom: 2.7rem;
        }
        @include useScreen("tablet-md") {
          width: 55%;
        }

        &-modal {
          width: 51%;
          line-height: 0.8;

          @media screen and (min-width: 420px) {
            line-height: 1;
          }
          @include useScreen("tablet-md") {
            width: auto;
          }
        }
      }

      &-textfield {
        bottom: 12.8rem;
        width: 60%;

        @media screen and (min-width: 420px) {
          bottom: 13rem;
        }

        @include useScreen("tablet-md") {
          right: 0px;
          left: auto;
          width: auto;
        }

        &-modal {
          width: 51%;
          line-height: 0.8;

          @media screen and (min-width: 420px) {
            width: 50%;
            line-height: 1;
          }
          @include useScreen("mobile-xl") {
            width: auto;
          }
        }
      }
    }
  }

  &__textfield {
    @include area(
      var(--color--white),
      var(--color--light-blue-2),
      var(--color--orange-1),
      var(--color--light-blue-3),
      var(--color--blue-grey-1)
    );
    width: 100%;
    height: 200px;
    padding: 10px;
  }

  &__animation {
    z-index: 1;
    position: relative;
    min-width: 250px;
    max-width: 80%;
    height: auto;
  }

  &__decoration {
    z-index: 0;
    position: absolute;
    top: 50rem;
    height: auto;

    @include useScreen("tablet-sm") {
      top: 7rem;
    }

    &-zero {
      display: none;

      @include useScreen("tablet-sm") {
        display: block;
        top: 20rem;
        right: -8rem;
      }
      @include useScreen("tablet-md") {
        right: -12rem;
      }
      @include useScreen("tablet-lg") {
        right: -16rem;
        transform: rotateY(180deg);
      }
      @include useScreen("tablet-xl") {
        right: -20rem;
      }
    }

    &-first {
      display: none;
      transform: rotateX(180deg);

      @include useScreen("tablet-sm") {
        display: block;
        left: -7rem;
      }
      @include useScreen("tablet-md") {
        left: -10rem;
      }
      @include useScreen("tablet-lg") {
        left: -14rem;

        transform: rotateY(0deg);
      }
      @include useScreen("tablet-xl") {
        left: -20rem;
      }
    }

    &-second {
      right: 7rem;
      &.contact__decoration-right {
        right: calc(7rem + 7px);
      }
      width: 200px;
      transform: rotateX(180deg);

      @include useScreen("mobile-lg") {
        top: 48rem;
        right: 16rem;
        &.contact__decoration-right {
          right: calc(16rem + 7px);
        }
        width: 250px;
      }
      @include useScreen("tablet-sm") {
        top: 20rem;
      }
      @include useScreen("desktop-md") {
        right: 14rem;
        &.contact__decoration-right {
          right: calc(14rem + 7px);
        }
        width: 300px;
      }
    }

    &-third {
      right: 0;
      &.contact__decoration-right {
        right: calc(-1rem + 7px);
      }
      width: 200px;
      transform: rotateY(180deg);

      @include useScreen("mobile-lg") {
        right: 1rem;
        &.contact__decoration-right {
          right: calc(1rem + 7px);
        }
        width: 250px;
      }
      @include useScreen("desktop-md") {
        right: 20rem;
        &.contact__decoration-right {
          right: calc(20rem + 7px);
        }
        width: 350px;
      }
    }
  }

  &__submit {
    @include flex(row, center, center);
    gap: 1rem;
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: var(--color--blue-grey-1);
    font-weight: var(--font-weight--normal-1);
    cursor: pointer;
    background: var(--color--light-blue-2);
    transition: 250ms;

    &:hover {
      color: var(--color--blue-grey-2);
      background: var(--color--light-blue-3);
      transform: scale(1.03);
    }
  }

  &__farewell{
    @include flex(column, center, center);
    gap: 12px;
  }
}

[data-theme="dark"] .contacts {
  &__input {
    @include area(
      var(--color--blue-grey-opacity),
      var(--color--light-blue-2),
      var(--color--orange-2),
      var(--color--light-blue-3),
      var(--color--white-grey)
    );

    &-error {
      color: var(--color--red-dark);
    }
  }

  &__textfield {
    @include area(
      var(--color--blue-grey-opacity),
      var(--color--orange-2),
      var(--color--light-blue-2),
      var(--color--light-blue-3),
      var(--color--white-grey)
    );
  }

  &__submit {
    color: var(--color--white-grey);
    font-weight: var(--font-weight--normal-1);
    cursor: pointer;
    background: var(--color--orange-2);
    transition: 250ms;

    &:hover {
      color: var(--color--white);
      background: var(--color--orange-3);
      transform: scale(1.03);
    }
  }
}

.info {
  @include flex(column, center, center);
  gap: 3rem;
  padding-bottom: 3rem;
  color: var(--color--blue-grey-2);

  @include useScreen("mobile-md") {
    gap: 2rem;
  }

  &-contacts {
    @include flex(column, center, center);
    gap: 2rem;

    @include useScreen("tablet-sm") {
      gap: 3rem;
    }

    &__title {
      position: relative;
      width: 70%;
      padding: 1rem 0;
      font-weight: var(--font-weight--normal-2);
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.07rem;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        content: "";
        background: var(--color--orange-2);
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        content: "";
        background: var(--color--orange-2);
      }
    }
  }

  &-icons {
    @include flex(column, center, center);
    gap: 2.5rem;
    position: relative;

    &__block {
      @include box-shadow-7(var(--color--blue-grey-1));
      @include flex(column, center, center);
      gap: 1.2rem;
      max-width: 600px;
      padding: 1rem;
      border-radius: var(--border-radius--sm);
      background: var(--color--bg-light);

      @include useScreen("mobile-md") {
        padding: 2rem;
      }

      &-title {
        color: var(--color--orange-2);
        font-weight: 900;
        font-size: var(--font-size--5);
        text-align: center;
      }

      &-links {
        @include flex(column, center, stretch);
        gap: 1rem;

        .contacts-item {
          @include flex(row, space-between, center);
          gap: 1rem;
          padding-bottom: 0.5rem;
          border-bottom: 1px dotted var(--color--light-blue-2);

          @include useOnHover {
            h6 {
              color: var(--color--light-blue-2);
            }
          }
          @include useOnClick {
            h6 {
              color: var(--color--light-blue-3);
            }
          }

          h6 {
            width: 90%;
            color: var(--color--blue-grey-2);
            font-weight: var(--font-weight--normal-2);
            text-align: left;
          }

          svg {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
[data-theme="dark"] .info {
  color: var(--color--white-grey);

  &-contacts {
    &__title {
      &::before {
        background: var(--color--light-blue-4);
      }

      &::after {
        background: var(--color--light-blue-4);
      }
    }
  }

  &-icons {
    &__block {
      @include box-shadow-7(var(--color--blue-grey-2));
      background: var(--color--bg-dark);

      &-title {
        color: var(--color--light-blue-3);
      }

      &-links {
        .contacts-item {
          border-bottom: 1px dotted var(--color--light-brown);

          @include useOnHover {
            h6 {
              color: var(--color--orange-2);
            }
          }
          @include useOnClick {
            h6 {
              color: var(--color--orange-3);
            }
          }

          h6 {
            color: var(--color--white-grey);
          }
        }
      }
    }
  }
}
