@use "./mixins" as *;
@use "../mixins/" as *;

.dropdown {
  &-button {
    @include flex(row, center, center);
    -webkit-text-fill-color: transparent;
    gap: 0.3rem;
    color: var(--color--light-blue-3);
    @include text-linearGradient-2(
      var(--color--orange-4),
      var(--color--orange-2)
    );

    @include useOnHover {
      color: var(--color--light-blue-2);
      @include text-linearGradient-2(
        var(--color--orange-2),
        var(--color--orange-4)
      );
    }
    @include useOnClick {
      color: var(--color--light-blue-3);
      @include text-linearGradient-2(
        var(--color--orange-1),
        var(--color--orange-2)
      );
    }
  }

  &-list {
    gap: 0.7rem;
    @include flex(column, center, center);
    position: relative;
    width: 100%;

    .back {
      button {
        color: var(--color--orange-4);

        @include useOnHover {
          color: var(--color--orange-5);
        }
        @include useOnClick {
          color: var(--color--orange-6);
        }
      }
    }

    .all {
      button {
        padding-bottom: 0.5rem;
        border-bottom: 1px dotted var(--color--white);

        @include useOnHover {
          color: var(--color--light-blue-2);
        }
        @include useOnClick {
          color: var(--color--light-blue-3);
        }
      }
    }
  }

  &-item {
    button {
      @include useOnHover {
        color: var(--color--light-blue-2);
      }
      @include useOnClick {
        color: var(--color--light-blue-3);
      }
    }

    p {
      color: var(--color--white);
      padding-top: 50px;
    }
  }

  &-container {
    position: relative;
  }

  &-content {
    z-index: 1;
    position: absolute;
    top: 2.5rem;
    left: -8rem;
    width: 216px;
    height: 245px;
    padding: 1rem 1rem 0.5rem 0.5rem;
    border-radius: var(--padding--sm);
    background-color: var(--color--orange-2);

    button {
      @include flex(row, center, center);
      gap: 0.5rem;
      max-width: 200px;
      color: var(--color--white);
      text-transform: uppercase;
    }
  }

  &-categories {
    @include flex(row, space-between, center);
    width: 216%;
    transition: transform 0.3s ease;
  }

  &Nested {
    &-container {
      position: relative;
      padding: 0.11rem;
      padding-left: 50px;
      &:hover + div,
      &:hover + .dropdown-nested-content {
        display: block;
      }
    }

    &-list {
      padding: 1rem 1rem 0.5rem 0.5rem;
      border-radius: var(--padding--sm);
      background-color: var(--color--light-blue-3);
    }

    &-item {
      button {
        @include useOnHover {
          color: var(--color--orange-1);
        }
        @include useOnClick {
          color: var(--color--orange-2);
        }
      }
    }

    &-content {
      display: none;
      z-index: 1;
      position: absolute;
      top: 0;
      right: 118px;
      padding-right: 4rem;

      &__mobile {
        top: 22px;
        right: 22%;
      }
      &:hover {
        display: block;
      }
    }
  }
}
[data-theme="dark"] .dropdown {
  &-button {
    color: var(--color--orange-3);
    @include text-linearGradient-2(
      var(--color--light-blue-4),
      var(--color--light-blue-2)
    );

    @include useOnHover {
      color: var(--color--orange-2);
      @include text-linearGradient-2(
        var(--color--light-blue-2),
        var(--color--light-blue-4)
      );
    }
    @include useOnClick {
      @include text-linearGradient-2(
        var(--color--light-blue-1),
        var(--color--light-blue-2)
      );
    }
  }

  &-list {
    .back {
      button {
        color: var(--color--light-blue-4);

        @include useOnHover {
          color: var(--color--light-blue-6);
        }
        @include useOnClick {
          color: var(--color--light-blue-2);
        }
      }
    }
    .all {
      button {
        border-bottom: 1px dotted var(--color--dark-opacity);
      }
    }
  }

  &-content {
    background-color: var(--color--light-blue-3);
  }

  &-item {
    p {
      color: var(--color--dark-opacity);
    }
    button {
      color: var(--color--dark-opacity);

      @include useOnHover {
        color: var(--color--peach);
      }
      @include useOnClick {
        color: var(--color--orange-1);
      }
    }
  }

  &Nested {
    &-list {
      background-color: var(--color--orange-2);
    }

    &-item {
      button {
        @include useOnHover {
          color: var(--color--light-blue-1);
        }
        @include useOnClick {
          color: var(--color--light-blue-3);
        }
      }
    }
  }
}

.active-button {
  color: var(--color--light-blue-2) !important;
  @include useOnHover {
    color: var(--color--light-blue-4);
  }
  @include useOnClick {
    color: var(--color--light-blue-6);
  }
}
[data-theme="dark"] .active-button {
  color: var(--color--peach) !important;
  @include useOnHover {
    color: var(--color--orange-2);
  }
  @include useOnClick {
    color: var(--color--orange-4);
  }
}

.show {
  transform: translateX(-60%);
  &-list {
    visibility: visible;
  }
}
.hide {
  transform: translateX(0);
  &-list {
    visibility: hidden;
  }
}
.active-filter {
  color: var(--color--light-opacity) !important;
}
[data-theme="dark"] .active-filter {
  color: var(--color--light-opacity) !important;
}

.languages{
  &-container{
    position: absolute;
    right: 20px;
    bottom: 0px;
    @include flex(row, center, center);
    gap: 1rem;
    z-index: 110;
    background: var(--color--white-grey);
  }
}
[data-theme="dark"] .languages {
&-container {
  background: var(--color--blue-grey-3);
}
}