@use "./mixins" as *;
@use "../mixins" as *;

.home-content {
  z-index: 30;
  position: relative;
  width: 100vw;
  margin-top: 180px;
  background: var(--color--bg-light);

  @include useScreen("mobile-md") {
    margin-top: 200px;
  }
  @include useScreen("mobile-lg") {
    margin-top: 270px;
  }
  @include useScreen("mobile-xl") {
    margin-top: 300px;
  }
  @include useScreen("tablet-sm") {
    margin-top: 428px;
  }
  @include useScreen("tablet-md") {
    margin-top: 536px;
  }
  @include useScreen("tablet-lg") {
    margin-top: 572px;
  }
  @include useScreen("tablet-xl") {
    margin-top: 720px;
  }
  @include useScreen("desktop-sm") {
    margin-top: 766px;
  }
  @include useScreen("desktop-md") {
    margin-top: 810px;
  }
  @include useScreen("desktop-lg") {
    margin-top: 860px;
  }
  @include useScreen("desktop-xl") {
    margin-top: 1076px;
  }
}
[data-theme="dark"] .home-content {
  background: var(--color--bg-dark);
}

.hero {
  &-container {
    @include flex(column, center, center);
    gap: 2rem;
    position: relative;

    @include useScreen("tablet-sm") {
      @include flex(row, space-between, center);
    }
  }

  &-headings {
    @include flex(column, flex-start, flex-start);
  }

  &-blur {
    z-index: -100;
    position: absolute;
    align-self: flex-end;
    @include box-shadow-4(var(--color--orange-4));
  }

  &-content {
    @include flex(column, space-between, flex-start);
    gap: 1.5rem;
    width: 100%;
    z-index: 10;

    @include useScreen("mobile-xl") {
      align-items: flex-start;
    }

    h2 {
      .block,
      .inline-block {
        font-size: var(--font-size--2);
      }
      span {
        -webkit-text-fill-color: var(--color--light-blue-2);
        -webkit-text-stroke: 1px var(--color--light-blue-3);
        font-weight: var(--font-weight--normal-2);
        line-height: 3rem;
      }
    }

    h1 {
      .block,
      .inline-block {
        font-size: var(--font-size--1);
      }
      span {
        -webkit-text-fill-color: var(--color--light-blue-3);
        -webkit-text-stroke: 1px var(--color--light-blue-4);
        font-weight: var(--font-weight--bold);
        line-height: 3rem;
        text-transform: uppercase;
      }
    }

    h4 {
      .block,
      .inline-block {
        font-size: var(--font-size--4);
      }
      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px var(--color--blue-grey-2);
        align-self: flex-start;
      }
    }

    p {
      margin-bottom: 2rem;
      .block,
      .inline-block {
        font-size: var(--font-size--6);
      }
      span {
        color: var(--color--orange-2);
        @include useScreen("tablet-sm") {
          max-width: 60%;
        }
      }
    }
  }

  &-image {
    position: relative;

    @include useScreen("mobile-lg") {
      align-self: flex-end;
    }

    @include useScreen("tablet-sm") {
      align-self: center;
    }

    &__content {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: var(--border-radius--sm);

      @include useScreen("tablet-sm") {
        width: 250px;
        height: 250px;
      }

      @include useScreen("tablet-md") {
        width: 300px;
        height: 300px;
      }
    }

    &__decoration {
      opacity: 0.7;
      position: absolute;
      bottom: -4rem;
      left: -12rem;
      width: 110%;
      height: auto;

      @include useScreen("tablet-md") {
        bottom: -8rem;
        left: -14rem;
        width: 120%;
      }

      @include useScreen("tablet-xl") {
        bottom: -6rem;
        left: -18rem;
        width: 130%;
      }
    }

    &::before {
      position: absolute;
      right: -20px;
      bottom: 20px;
      width: 3px;
      height: 150px;
      content: "";
      background: var(--color--light-blue-2);

      @include useScreen("tablet-sm") {
        height: 200px;
      }
    }
    &::after {
      position: absolute;
      right: 20px;
      bottom: -20px;
      width: 150px;
      height: 3px;
      content: "";
      background: var(--color--orange-2);

      @include useScreen("tablet-sm") {
        width: 200px;
      }
    }
  }

  &-buttons {
    @include flex(column, center, center);
    gap: 1rem;
    align-self: center;

    @include useScreen("mobile-xl") {
      gap: 2rem;
      flex-direction: row;
      align-self: start;
    }
  }
}
[data-theme="dark"] .hero {
  &-blur {
    @include box-shadow-4(var(--color--light-blue-5));
  }

  &-content {
    h2 {
      span {
        -webkit-text-fill-color: var(--color--orange-2);
        -webkit-text-stroke: 1px var(--color--orange-3);
      }
    }

    h1 {
      span {
        -webkit-text-fill-color: var(--color--orange-3);
        -webkit-text-stroke: 1px var(--color--orange-2);
      }
    }

    h4 {
      span {
        -webkit-text-stroke: 1px var(--color--white-grey);
      }
    }

    p {
      span {
        color: var(--color--light-blue-2);
      }
    }
  }

  &-image {
    &::before {
      background: var(--color--orange-2);
    }
    &::after {
      background: var(--color--light-blue-2);
    }
  }
}

.section-header {
  @include flex(column, center, center);
  gap: 1rem;
  width: 100%;

  @include useScreen("mobile-lg") {
    @include flex(row, space-between, flex-start);
    width: 90%;
  }
  @include useScreen("mobile-xl") {
    width: 80%;
  }
  @include useScreen("tablet-sm") {
    width: 70%;
  }
  @include useScreen("tablet-md") {
    width: 60%;
  }
  @include useScreen("tablet-lg") {
    width: 50%;
  }

  &__column-reverse {
    @media screen and (max-width: 479px) {
      flex-direction: column-reverse;
    }
  }

  &__container {
    @media screen and (min-width: 1200px) {
      width: 50% !important;
    }
  }

  h2 {
    -webkit-text-fill-color: var(--color--light-blue-3);
    -webkit-text-stroke: 1px var(--color--light-blue-4);
    text-transform: uppercase;
  }

  button {
    text-align: center;
    @include useScreen("mobile-lg") {
      margin-top: 2rem;
    }
  }
}
[data-theme="dark"] .section-header {
  h2 {
    -webkit-text-fill-color: var(--color--orange-1);
    -webkit-text-stroke: 1px var(--color--orange-4);
  }
}

.features {
  @include flex(column, center, center);
  gap: 3rem;

  &-cards {
    gap: 1.2rem;
    @include flex(column, center, center);
    width: 100%;

    @include useScreen("tablet-lg") {
      flex-direction: row;
    }
  }

  &-card {
    @include flex(row, center, center);
    width: 100%;
    border-radius: var(--border-radius--sm);
    cursor: pointer;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }

    @include useScreen("tablet-lg") {
      flex-direction: column;
      &:nth-child(2n + 1) {
        flex-direction: column-reverse;
      }
    }

    &__decoration {
      z-index: 0;
      position: relative;
      cursor: pointer;
      transition: transform 2s;
      transform: var(--level--1);

      &:hover {
        transform: rotateY(0.5turn);
      }
    }

    &__content {
      transform-style: preserve-3d;
      z-index: 1;
      position: relative;
      position: relative;
      min-width: 300px;
      max-width: 400px;
      min-height: 270px;
      padding: 8rem 0;
      text-align: center;
      transition: transform 3s;

      &:hover {
        transform: rotateY(0.5turn);
      }
    }

    &__front,
    &__back {
      @include flex(column, center, center);
      backface-visibility: hidden;
      gap: 0.5rem;
      transform-style: preserve-3d;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__front {
      padding: 5rem 3rem;
      background-color: var(--color--light-blue-1);
      background-size: cover;
    }
    &__front-first {
      background-image: url("/images/features/cards-bg/1.webp");
    }
    &__front-second {
      background-image: url("/images/features/cards-bg/2.webp");
    }
    &__front-third {
      background-image: url("/images/features/cards-bg/3.webp");
    }

    &__front::before {
      --spacer: 1rem;
      position: absolute;
      top: var(--spacer);
      right: var(--spacer);
      bottom: var(--spacer);
      left: var(--spacer);
      border: 3px solid currentColor;
      content: "";
      transform: var(--level--1);
    }

    &__title {
      order: 2;
      font-size: var(--font-size--4);
      text-transform: uppercase;
      transform: var(--level--3);
    }

    &__subtitle {
      opacity: 0.7;
      font-weight: var(--fw-bold);
      text-transform: uppercase;
      letter-spacing: 1px;
      transform: var(--level--2);
    }

    &__body {
      font-weight: var(--font-weight--normal-1);
      font-size: var(--font-size--9);
      line-height: 1.6;
      transform: var(--level--2);
    }

    &__back {
      padding: 1rem;
      background: var(--color--light-blue-1);
      transform: rotateY(0.5turn);
    }
  }

  &-info {
    @include flex(column, center, center);
    gap: 1rem;
  }
}
[data-theme="dark"] .features {
  &-card {
    &__content {
      color: var(--color--grey);
    }

    &__back {
      background: var(--color--orange-1);
    }
  }
}

.devices {
  @include flex(column, center, center);
  gap: 4rem;
  padding: 4rem;

  @include useScreen("tablet-lg") {
    gap: 2rem;
  }

  &__title {
    font-weight: var(--font-weight--bold);
    text-align: center;
  }

  &__subtitle {
    svg {
      padding-bottom: 0.12rem;
    }
  }

  &__titles {
    @include flex(column, flex-start, flex-start);
    gap: 2rem;

    div:first-child {
      @include flex(column-reverse, center, flex-start);
      text-align: left;
    }
    div:last-child {
      text-align: right;
    }

    @include useScreen("tablet-lg") {
      @include flex(row, space-between, center);
      gap: 12rem;
    }
  }
}

.canvas {
  width: 100vw !important;
  height: 50vh !important;
  margin: 0 auto;
  cursor: grab;

  @include useScreen("tablet-lg") {
    width: 50vw !important;
    height: 70vh !important;
  }

  &__container {
    @include flex(column, center, center);
    width: 125%;
    border-top: 1px dotted var(--color--light-blue-1);
    border-bottom: 1px dotted var(--color--light-blue-1);

    div {
      border-top: 1px dotted var(--color--light-blue-1);
      border-bottom: 1px dotted var(--color--light-blue-1);
    }

    @include useScreen("tablet-lg") {
      @include flex(row, space-between, center);

      div {
        border-right: 1px dotted var(--color--light-blue-1);
        border-left: 1px dotted var(--color--light-blue-1);
      }
    }
  }
  [data-theme="dark"] .canvas {
    &__container {
      border-top: 1px dotted var(--color--blue-grey-3);
      border-bottom: 1px dotted var(--color--blue-grey-3);

      div {
        border-right: 1px dotted var(--color--blue-grey-3);
        border-left: 1px dotted var(--color--blue-grey-3);
      }
    }
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: var(--color--blue-opacity);

  @include useScreen("mobile-md") {
    height: 200px;
  }
  @include useScreen("mobile-lg") {
    height: 270px;
  }
  @include useScreen("mobile-xl") {
    height: 300px;
  }
  @include useScreen("tablet-sm") {
    height: 428px;
  }
  @include useScreen("tablet-md") {
    height: 536px;
  }
  @include useScreen("tablet-lg") {
    height: 572px;
  }
  @include useScreen("tablet-xl") {
    height: 720px;
  }
  @include useScreen("desktop-sm") {
    height: 766px;
  }
  @include useScreen("desktop-md") {
    height: 810px;
  }
  @include useScreen("desktop-lg") {
    height: 860px;
  }
  @include useScreen("desktop-xl") {
    height: 1076px;
  }

  &-tip {
    &__first {
      @include flex(row, center, flex-start);
      gap: 1rem;
      position: fixed;
      top: 0;
      left: 0%;
      width: 80%;
      max-width: 400px;
      margin: 135px 50% 0;
      padding: 20px;
      border-radius: 7px;
      color: var(--color--light-brown);
      background-color: var(--color--light-opacity);
      transform: translate(-50%, -70%);

      @include useScreen("mobile-lg") {
        gap: 2rem;
        margin-top: 170px;
      }

      @include useScreen("tablet-sm") {
        gap: 3rem;
        max-width: 800px;
        margin-top: 270px;
      }

      &-text {
        @include flex(column, flex-start, flex-start);
        gap: 0.5rem;
        width: 100%;
        height: 100%;
        font-size: var(--font-size--8);
        text-align: left;
        text-transform: uppercase;

        @include useScreen("tablet-sm") {
          gap: 1rem;
          font-size: var(--font-size--4);
        }

        span {
          font-size: var(--font-size--8);
          text-transform: lowercase;

          @include useScreen("tablet-sm") {
            font-size: var(--font-size--4);
          }
        }
      }

      svg {
        width: 20px;
        height: 20px;

        @include useScreen("tablet-sm") {
          width: 50px;
          height: 50px;
        }
      }
    }

    &__others {
      @include flex(row, center, flex-start);
      gap: 0.3rem;
      position: fixed;
      top: 170px;
      left: 20px;
      color: var(--color--light-brown);

      &-text {
        @include flex(row, flex-start, flex-start);
        gap: 1rem;
        font-size: var(--font-size--10);
        text-align: left;
        text-transform: uppercase;
        @include useScreen("mobile-md") {
          gap: 0;
          flex-direction: column;
        }

        span {
          font-size: var(--font-size--10);
          text-transform: lowercase;
        }
      }

      svg {
        width: 10px;
        height: 10px;
      }

      @include useScreen("mobile-md") {
        top: 182px;
      }
      @include useScreen("mobile-lg") {
        top: 280px;
      }
      @include useScreen("mobile-xl") {
        top: 278px;
      }
      @include useScreen("tablet-sm") {
        top: 395px;
      }
      @include useScreen("tablet-md") {
        top: 500px;
      }
      @include useScreen("tablet-lg") {
        top: 530px;
      }
      @include useScreen("tablet-xl") {
        top: 676px;
      }
      @include useScreen("desktop-sm") {
        top: 720px;
      }
      @include useScreen("desktop-md") {
        top: 760px;
      }
      @include useScreen("desktop-lg") {
        top: 810px;
      }
      @include useScreen("desktop-xl") {
        top: 1000px;
      }
    }
  }
}
[data-theme="dark"] .video {
  background: var(--color--blue-dark);

  &-tip {
    &__first {
      color: var(--color--peach);
      background-color: var(--color--grey-opacity);
    }

    &__others {
      color: var(--color--peach);
    }
  }
}

.gallery {
  @include flex(column, center, center);
  gap: 2.3rem;

  &-section {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1.2rem;
      content: "";
      background: linear-gradient(
        to bottom,
        var(--color--grey-opacity) 40%,
        transparent 120%
      );
    }

    & > div {
      margin: 0 auto;
    }
  }
}
