@use "vars" as *;
@use "./mixins" as *;
@use "../mixins/" as *;

.projects {
  grid-auto-flow: dense;
  grid-gap: var(--padding--sm-2);
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  display: grid;

  &__header {
    @include flex(column-reverse, space-between, flex-end);
    z-index: 9;
    position: relative;

    @media screen and (min-width: 440px) {
      @include flex(row, space-between, flex-start);
      gap: 3rem;
    }
  }

  &__filter {
    @include flex(column, center, center);
    gap: 1rem;

    @include useScreen("tablet-sm") {
      @include flex(row, space-between, center);
    }

    &-animation {
      display: none;

      @media screen and (min-width: 440px) {
        display: block;
        height: auto;
      }

      svg {
        width: 100px !important;
        height: auto;
      }
    }

    button {
      text-transform: uppercase;
    }
  }
}



.hover {
  @include flex(column, space-between, center);
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border-radius: var(--border-radius--sm);
  color: var(--color--black);
  transform: translate(-50%, -50%);

  &__categories {
    @include flex(row, flex-end, center);
    gap: 0.5rem;

    flex-wrap: wrap;

    span {
      padding: 0.3rem 0.8rem;
      border-radius: var(--border-radius--md);
      background-color: var(--color--white);
      @include box-shadow-3(var(--color--bg-grey));
    }
  }

  &__title {
    align-self: flex-start;
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius--lg);
    font-weight: var(--font-weight--normal-2);
    background-color: var(--color--white);
    @include box-shadow-3(var(--color--bg-grey));
  }
}
