@use "./mixins" as *;
@use "../mixins" as *;

.swiper {
  width: 225px;
  height: auto;

  @include useScreen("mobile-lg") {
    width: 360px;
  }
  @include useScreen("mobile-xl") {
    width: 400px;
  }
  @include useScreen("tablet-sm") {
    width: 460px;
  }
  @include useScreen("tablet-lg") {
    width: 500px;
  }
  @include useScreen("desktop-sm") {
    width: 560px;
  }
}

.swiper-skills {
  @include flex(column, center, center);
  gap: 2rem;

  padding-top: 2rem !important;
}

.swiper-title {
  position: relative;
  padding-bottom: 1rem;
  font-weight: var(--font-weight--normal-2);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    content: "";
    background: var(--color--orange-2);
  }
}

.swiper-slide {
  @include flex(row, center, center);
  width: max-content !important;
  border-radius: var(--border-radius--sm);
}

.swiper-slide-skill {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet {
  background: var(--color--blue-grey-4);
}
[data-theme="dark"] .swiper-pagination-bullet {
  background: var(--color--white-grey);
}

.swiper-pagination-bullet-active {
  background: var(--color--orange-2) !important;
}
[data-theme="dark"] .swiper-pagination-bullet-active {
  background: var(--color--light-blue-4);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, -40px) !important;
}

[data-theme="dark"] .swiper-cube .swiper-cube-shadow:before {
  background: var(--color--light-brown);
}

.swiper-scrollbar {
  background: var(--color--light-blue-3) !important;
}
[data-theme="dark"] .swiper-scrollbar {
  background: var(--color--orange-2) !important;
}
