@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #fff;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

img {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  transition: all ease-in-out 0.2;
}
