@use "./partials/vars" as *;
@use "./partials/navigation";
@use "./partials/button";
@use "./partials/banner";
@use "./partials/about";
@use "./partials/skills";
@use "./partials/projects";
@use "./mixins" as *;
@use "./partials/mixins" as *;
@use "./partials/swiper" as *;
@use "./partials//dropdown" as *;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(1.5rem, 1vw, 2.75rem);
}
h2 {
  font-size: clamp(1.3rem, 1vw, 1.75rem);
}
h3 {
  font-size: clamp(1.2rem, 1vw, 1.55rem);
}
h4 {
  font-weight: normal;
  font-size: clamp(1rem, 1vw, 1.35rem);
}
h5 {
  font-weight: normal;
  font-size: clamp(0.95rem, 1vw, 1rem);
}
h6 {
  font-weight: normal;
  font-size: clamp(0.8rem, 1vw, 0.75rem);
}

p,
li {
  font-size: clamp(0.7rem, 1vw, 0.2rem);
}
span {
  font-size: clamp(0.6rem, 1vw, 0.2rem);
}

li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  color: var(--color--light-blue-4);
  font-size: clamp(0.7rem, 1vw, 0.2rem);
  text-decoration: none;
  cursor: pointer;

  @include useOnHover {
    color: var(--color--light-blue-2);
  }
  @include useOnClick {
    color: var(--color--light-blue-3);
  }
}
[data-theme="dark"] a {
  color: var(--color--orange-1);

  @include useOnHover {
    color: var(--color--orange-2);
  }
  @include useOnClick {
    color: var(--color--orange-3);
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
  font-size: clamp(1rem, 1vw, 0.35rem);
  cursor: pointer;
  background: none;
}

img {
  display: block;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  color: var(--color--black);
  font-size: 16px;
  line-height: 1.5;
  user-select: none;
  background-color: var(--color--bg-light);

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color--blue-grey-2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius--md);
    background: linear-gradient(to top, #fca26e 20%, #fcfbfc 50%, #68b8c1 100%);
  }
}
[data-theme="dark"] body {
  color: var(--color--white);
  background-color: var(--color--bg-dark);
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #68b8c1 30%, #fca26e 100%);
  }
}

.progress-bar {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #fca26e 20%, #fcfbfc 50%, #68b8c1 100%);
  transform-origin: 0%;
}
[data-theme="dark"] .progress-bar {
  background: linear-gradient(90deg, #68b8c1 30%, #000 50%, #fca26e 100%);
}

.logo {
  &__img {
    border: 1px solid var(--color--dark-burger);
    border-radius: var(--border-radius--rounded);
    object-fit: contain;
  }

  @include useOnHover {
    transform: scale(var(--scale));
  }

  &__footer {
    padding-bottom: 1rem;
  }
}
[data-theme="dark"] .logo {
  &__img {
    border: 1px solid var(--color--light-burger);
  }
}

//utilities
.u-pad-2 {
  padding: 2rem;
}

.title,
.text,
.greetings,
#scene-container {
  position: relative;
}

#scene-container {
  width: 100%;
}

.greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 2rem;
    border-radius: var(--border-radius--sm);
    background-color: var(--color--light-opacity);
    gap: 1rem;
  }
}
[data-theme="dark"] .greetings__container {
  background-color: var(--color--dark-opacity);
}

.icons {
  @include flex(column, center, center);
  flex-wrap: wrap;
  padding-top: 1rem;
  gap: 1.2rem;

  @include useScreen("tablet-xl") {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__block {
    @include flex(row, center, center);
    gap: 1.2rem;

    &-title {
      color: var(--color--white);
      text-align: center;
    }
    &-links {
      @include flex(row, center, center);
      gap: 1.2rem;

      @include useScreen("tablet-xl") {
        justify-content: space-between;
      }

      a {
        @include flex(row, center, center);
        opacity: 0.7;
        position: relative;
        width: 30px;
        height: 30px;
        border: 2px solid var(--color--white);
        border-radius: var(--border-radius--rounded);
        color: var(--color--white);

        @include useOnHover {
          @include flex(row, center, center);
          opacity: 1;
          z-index: 10;
          border-color: var(--color--light-blue-2);
          color: var(--color--light-blue-2);
          text-align: center;

          &::before {
            position: absolute;
            top: 35px;
            width: max-content;
            padding: 0.5rem;
            border-radius: var(--border-radius--md);
            color: var(--color--white);
            font-size: 10px;
            content: attr(data-text);
            background: radial-gradient(
              80.97% 80.37% at 56.01% 19.03%,
              var(--color--light-blue-1) 0%,
              var(--color--light-blue-4) 99.23%
            );
          }
        }

        @include useOnClick {
          opacity: 1;
          border-color: var(--color--light-blue-4);
          color: var(--color--light-blue-4);
        }
      }
    }
  }
}
[data-theme="dark"] .icons {
  &__block {
    color: var(--color--black);

    &-title {
      color: var(--color--blue-grey-2);
    }

    &-links {
      color: var(--color--black);

      a {
        border: 2px solid var(--color--blue-grey-2);
        color: var(--color--black);

        @include useOnHover {
          border-color: var(--color--orange-1);
          color: var(--color--orange-1);

          &:before {
            background: radial-gradient(
              80.97% 80.37% at 56.01% 19.03%,
              var(--color--orange-1) 0%,
              var(--color--orange-4) 99.23%
            );
          }
        }
      }

      @include useOnClick {
        border-color: var(--color--orange-4);
        color: var(--color--orange-4);
      }
    }
  }
}

.footer-contact {
  @include flex(column, center, center);
  gap: 1rem;

  @include useScreen("tablet-sm") {
    flex-direction: row;
    gap: 3rem;
  }

  &__title {
    width: 70%;
    color: var(--color--white);
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;

    @include useScreen("tablet-sm") {
      width: 30%;
    }
  }
}
[data-theme="dark"] .footer-contact {
  &__title {
    color: var(--color--blue-grey-3);
  }
}

.license {
  align-self: flex-end;
  color: var(--color--grey);
}
[data-theme="dark"] .license {
  color: var(--color--white-grey);
}

.devices {
  @include flex(column, center, center);
  padding: 4rem;
  box-shadow: inset 0 0 30px 20px var(--color--white-opacity);
  gap: 2rem;

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    svg {
      padding-bottom: 0.12rem;
    }
  }

  &__titles {
    @include flex(row, space-between, center);
    gap: 12rem;

    div:first-child {
      text-align: left;
    }
    div:last-child {
      text-align: right;
    }
  }

  &__hint {
    @include flex(row, space-between, flex-start);
    position: relative;
    align-self: end;
    width: 20rem;
    gap: 1.5rem;

    &-prompt {
      align-self: end;
      text-align: left;
    }

    &-comment {
      p {
        font-size: 1rem;
      }
      align-self: start;
      text-align: right;
      svg {
        padding-right: 0.12rem;
        padding-bottom: 0.12rem;
      }
    }

    &-onHover {
      position: relative;
      cursor: pointer;
      &:hover div,
      &:hover .devices__hint-onHoverVisible {
        display: block;
      }
    }

    &-onHoverVisible {
      display: none;
      position: absolute;
      top: 5rem;
      left: -0.1rem;
      padding: 1rem;
      background: var(--color--light-blue-1);
      box-shadow: inset 0 0 3px 2px var(--color--grey-opacity);
    }
  }
}
[data-theme="dark"] .devices {
  box-shadow: inset 0 0 30px 20px var(--color--grey-opacity);

  &__hint {
    &-onHoverVisible {
      background: var(--color--grey);
      box-shadow: inset 0 0 3px 2px var(--color--grey-opacity);
    }
  }
}

.canvas {
  width: 50vw !important;
  height: 70vh !important;
  margin: 0 auto;
  cursor: grab;

  &__container {
    @include flex(row, space-between, center);
    width: 125%;
    padding: 0 4rem;
    border-top: 1px dotted var(--color--light-blue-1);
    border-bottom: 1px dotted var(--color--light-blue-1);

    div {
      border-right: 1px dotted var(--color--light-blue-1);
      border-left: 1px dotted var(--color--light-blue-1);
    }
  }
}
[data-theme="dark"] .canvas {
  &__container {
    border-top: 1px dotted var(--color--blue-grey-3);
    border-bottom: 1px dotted var(--color--blue-grey-3);

    div {
      border-right: 1px dotted var(--color--blue-grey-3);
      border-left: 1px dotted var(--color--blue-grey-3);
    }
  }
}
