@use "./partials/vars" as *;
@use "./partials/navigation";
@use "./partials/button";
@use "./partials/banner";
@use "./partials/about";
@use "./partials/skills";
@use "./partials/projects";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 1.25rem;
  line-height: 1.5;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color--blue-grey-2);
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #a855f7 30%, #f178b6 100%);
    border-radius: 1rem;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  height: 4px;
  background: linear-gradient(90deg, #a855f7 30%, #f178b6 100%);
  transform-origin: 0%;

  z-index: 9999;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 20rem;
  width: 40rem;

  z-index: 10000;

  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  background: radial-gradient(80% 80% at 56% 19%, #9759f5 0%, #7263f3 99%);

  @media screen and (max-width: 900px) {
    width: 30rem;
    height: 15rem;
  }

  .buttons {
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    @media screen and (max-width: 900px) {
      gap: 0.6rem;
    }

    button:first-child {
      align-self: flex-end;
    }

    button:nth-child(n + 2) {
      font-size: clamp(1.5rem, 3vw, 3rem);
    }
  }
}
//utilities
.u-pad-2 {
  padding: 2rem;
}
