@use "./vars" as *;
@use "./mixins" as *;
@use "../mixins" as *;

.about-header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  background: linear-gradient(
    140deg,
    var(--color--light-blue-1),
    var(--color--light-blue-4)
  );
  min-height: 100vh;

  @include flex(column, center, center);
  @include useScreen("tablet-sm") {
    min-height: 200vh;
  }

  > img {
    display: none;

    @include useScreen("tablet-sm") {
      display: block;
      position: fixed;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);

      z-index: 7;
      pointer-events: none;
      border-radius: 16px;
      max-width: 80%;

      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    }
  }

  &__content {
    @include flex(column, center, center);

    text-align: center;
    gap: 1.2rem;

    @include useScreen("tablet-sm") {
      display: none;
      padding: 0 3rem;
    }

    h1 {
      font-size: clamp(2rem, 6vw, 3.5rem);

      color: #fff;
      filter: drop-shadow(1px 3px 0px rgba(0, 0, 0, 0.2));
    }

    p {
      font-size: clamp(1rem, 4vw, 1.25rem);
      font-weight: 500;
      color: var(--color--light-blue-1);
      filter: drop-shadow(1px 3px 0px rgba(0, 0, 0, 0.05));
    }

    .icons {
      @include flex(row, center, center);
      gap: 1.2rem;

      a {
        text-decoration: none;
        @include flex(row, center, center);

        width: 3rem;
        height: 3rem;

        font-size: 1.3rem;
        color: #fff;

        border: 2px solid var(--color--white);
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        opacity: 0.7;

        &:nth-child(1) {
          &:hover {
            color: #1da1f2;
            border-color: #1da1f2;
            opacity: 1;
          }
        }

        &:nth-child(2) {
          &:hover {
            color: var(--color--orange-4);
            border-color: var(--color--orange-4);
            opacity: 1;
          }
        }

        &:nth-child(3) {
          &:hover {
            color: var(--color--light-blue-4);
            border-color: var(--color--light-blue-4);
            opacity: 1;
          }
        }
      }
    }
  }
}
[data-theme="dark"] .about-header {
  background: linear-gradient(
    140deg,
    var(--color--orange-1),
    var(--color--orange-4)
  );
}

.about-content {
  margin-top: 100vh;
  @include useScreen("tablet-sm") {
    margin-top: 200vh;
  }
}

.about-section {
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--color--blue-grey-4);

  &__title {
    position: relative;
    padding-bottom: 3rem;

    font-weight: 500;
    font-size: clamp(1.5rem, 5vw, 3rem);

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;

      height: 0.2rem;
      width: 100%;

      background: var(--color--light-blue-4);
    }
  }

  &__list {
    margin-bottom: 3rem;
  }
}
[data-theme="dark"] .about-section {
  color: var(--color--light-blue-1);
}

.about-item {
  position: relative;
  padding: 4rem 3rem;

  @include flex(column, center, flex-start);

  gap: 0.5rem;
  @include useScreen("desktop-md") {
    gap: 2rem;
  }

  &__title {
    flex: 0 0 35%;
    align-self: flex-start;
    gap: 1rem;

    font-weight: 500;
    font-size: clamp(2rem, 8vw, 4.5rem);

    @include flex(column, center, flex-start);

    span:first-child {
      margin-right: 1rem;
      padding-top: 0.88rem;
      flex: 0 0 10%;
      align-self: flex-start;

      font-size: 1.2rem;
      color: var(--color--blue-grey-3);
    }
  }

  &__description {
    flex: 0 0 65%;

    font-size: clamp(1.2rem, 4vw, 2rem);
    line-height: 1.6;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;

    height: 3px;
    width: 100%;

    background: linear-gradient(to right, var(--color--light-blue-3), #6366f1);
  }
}
[data-theme="dark"] .about-item {
  &__title {
    span:first-child {
      color: var(--color--blue-grey-2);
    }
  }
}
