@use "./vars" as *;
@use "./mixins" as *;
@use "../mixins" as *;

.about-header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  background: linear-gradient(
    140deg,
    var(--color--light-blue-1),
    var(--color--light-blue-4)
  );
  min-height: 100vh;

  @include flex(column, center, center);
  @include useScreen("tablet-sm") {
    min-height: 150vh;
  }

  > img {
    display: none;

    @include useScreen("tablet-sm") {
      display: block;
      position: fixed;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);

      z-index: 7;
      pointer-events: none;
      border-radius: 16px;
      max-width: 80%;

      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    }
  }

  &__content {
    @include flex(column, center, center);

    text-align: center;
    gap: 1.2rem;

    @include useScreen("tablet-sm") {
      display: none;
      padding: 0 3rem;
    }

    h1 {
      color: #fff;
      filter: drop-shadow(1px 3px 0px rgba(0, 0, 0, 0.2));
    }

    p {
      font-weight: 500;
      color: var(--color--light-blue-1);
      filter: drop-shadow(1px 3px 0px rgba(0, 0, 0, 0.05));
    }
  }
}
[data-theme="dark"] .about-header {
  background: linear-gradient(
    140deg,
    var(--color--orange-1),
    var(--color--orange-4)
  );
}

.about-content {
  margin-top: 100vh;
  @include useScreen("tablet-sm") {
    margin-top: 150vh;
  }
}

.about-section {
  margin-top: 4rem;
  color: var(--color--blue-grey-4);

  &__title {
    position: relative;
    padding-bottom: 3rem;

    font-weight: 500;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;

      height: 0.2rem;
      width: 100%;

      background: var(--color--light-blue-4);
    }
  }
}
[data-theme="dark"] .about-section {
  color: var(--color--light-blue-1);
}

.about-item {
  position: relative;
  padding: 2rem 1rem;

  @include flex(column, center, flex-start);

  gap: 0.5rem;
  @include useScreen("desktop-md") {
    gap: 2rem;
  }

  &__title {
    flex: 0 0 35%;
    align-self: flex-start;
    gap: 1rem;

    font-weight: 500;

    @include flex(column, center, flex-start);

    span:first-child {
      margin-right: 1rem;
      padding-top: 0.88rem;
      flex: 0 0 10%;
      align-self: flex-start;

      font-size: 1.2rem;
      color: var(--color--blue-grey-3);
    }
  }

  &__description {
    flex: 0 0 65%;
    line-height: 1.6;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;

    height: 3px;
    width: 100%;

    background: linear-gradient(to right, var(--color--light-blue-3), #6366f1);
  }
}
[data-theme="dark"] .about-item {
  &__title {
    span:first-child {
      color: var(--color--blue-grey-2);
    }
  }
}

.about-achievements {
  @include flex(column, center, center);
  padding: 2rem 3rem 0;
  gap: 2rem;

  &__title {
    padding: 0 2rem;
    text-align: justify;
    line-height: 2rem;
    letter-spacing: 0.07rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  &__subtitle {
    flex: 0 0 35%;
    align-self: center;
    text-align: center;
    font-weight: 400;
  }

  &__slider {
    width: 100%;
    height: auto;
  }

  &__image {
    pointer-events: none;
    border-radius: 16px;
    width: auto;
    max-height: 100vh;
    height: auto;
    margin: 0 auto;
    border: 2px solid var(--color--blue-grey-4);
    &-progress {
      height: 80%;
      max-height: 50vh;
      max-width: 50vw;
      width: 100%;
    }
  }
}
[data-theme="dark"] .about-achievements {
  &__image {
    border: 2px solid var(--color--light-blue-1);
  }
}
