@use "./vars" as *;
@use "./mixins" as *;

.about-header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 300vh;

  @media screen and (max-width: 800px) {
    min-height: 100vh;
    @include flex(column, center, center);
  }

  > img {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    z-index: 50;
    pointer-events: none;
    border-radius: 16px;
    max-width: 70%;

    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &__content {
    display: none;
    padding: 0 3rem;

    @media screen and (max-width: 800px) {
      @include flex(column, center, center);

      text-align: center;
      gap: 1.2rem;
    }

    h1 {
      font-size: clamp(2rem, 6vw, 3.5rem);

      color: #fff;
      filter: drop-shadow(1px 3px 0px rgba(0, 0, 0, 0.2));
    }

    p {
      font-size: clamp(1rem, 4vw, 1.25rem);
      font-weight: 500;
      color: var(--color--light-blue-1);
      filter: drop-shadow(1px 3px 0px rgba(0, 0, 0, 0.05));
    }

    .icons {
      @include flex(row, center, center);
      gap: 1.2rem;

      a {
        text-decoration: none;
        @include flex(row, center, center);

        width: 3rem;
        height: 3rem;

        font-size: 1.3rem;
        color: #fff;

        border: 2px solid var(--color--white);
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        opacity: 0.7;

        &:nth-child(1) {
          &:hover {
            color: #1da1f2;
            border-color: #1da1f2;
            opacity: 1;
          }
        }

        &:nth-child(2) {
          &:hover {
            color: var(--color--orange-4);
            border-color: var(--color--orange-4);
            opacity: 1;
          }
        }

        &:nth-child(3) {
          &:hover {
            color: var(--color--light-blue-4);
            border-color: var(--color--light-blue-4);
            opacity: 1;
          }
        }
      }
    }
  }
}

.about-content {
  margin-top: 300vh;

  @media screen and (max-width: 800px) {
    margin-top: 100vh;
  }
}
