@use "./vars" as *;
@use "./mixins" as *;
@use "../mixins" as *;

.banner {
  @include flex(column, center, center);
  margin-top: 1.5rem;
  padding: 2rem;
  border-radius: var(--border-radius--lg);
  color: var(--color--white);
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--light-blue-1) 0%,
    var(--color--light-blue-4) 99.23%
  );
  gap: 2rem;

  @include useScreen("mobile-md") {
    @include flex(row, space-between, center);
  }

  &__text {
    color: var(--color--white);
  }

  button {
    align-self: flex-end;
    width: max-content;
    min-width: 8rem;
  }
}
[data-theme="dark"] .banner {
  color: var(--color--black);
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--orange-1) 0%,
    var(--color--orange-4) 99.23%
  );

  &__text {
    color: var(--color--black);
  }
}

.footer-banner {
  @include flex(column, center, center);
  position: relative;
  min-height: 15rem;
  padding: 2.5rem;
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--orange-4) 0%,
    var(--color--orange-1) 99.23%
  );
  gap: 1rem;

  &__logo img {
    filter: drop-shadow(1px 4px 7px rgba(0, 0, 0, 0.2));
  }

  &__links {
    @include flex(row, center, center);
    gap: 3rem;

    a {
      color: var(--color--white);
    }
  }
}
[data-theme="dark"] .footer-banner {
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--light-blue-4) 0%,
    var(--color--light-blue-1) 99.23%
  );
}
