@use "./vars" as *;
@use "./mixins" as *;

.banner {
  color: var(--color--white);
  margin-top: 1.5rem;
  padding: 2rem;
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--light-blue-1) 0%,
    var(--color--light-blue-4) 99.23%
  );
  border-radius: 1.5rem;

  &__text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 1.5rem;
    color: var(--color--white);
  }
}
[data-theme="dark"] .banner {
  color: var(--color--black);
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--orange-1) 0%,
    var(--color--orange-4) 99.23%
  );
  &__text {
    color: var(--color--black);
  }
}

.footer-banner {
  margin-top: 1.5rem;
  padding: 2rem;
  min-height: 15rem;
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--orange-4) 0%,
    var(--color--orange-1) 99.23%
  );

  @include flex(column, center, center);

  gap: 1rem;

  border-radius: 1.5rem 1.5rem 0 0;

  &__logo img {
    filter: drop-shadow(1px 4px 7px rgba(0, 0, 0, 0.2));
  }

  &__links {
    @include flex(row, center, center);
    gap: 3rem;

    a {
      color: var(--color--white);
    }
  }
}
[data-theme="dark"] .footer-banner {
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--light-blue-4) 0%,
    var(--color--light-blue-1) 99.23%
  );
}
