@use "./vars" as *;

.button {
  outline: none;
  border: none;
  font-family: inherit;
  background-color: var(--color--orange-4);
  font-size: clamp(1rem, 3vw, 1.25rem);
  cursor: pointer;
  transition: var(--transition);

  &--light-blue-4 {
    color: var(--color--light-blue-4);

    &:hover {
      color: #6366f1;
    }
  }

  &--white {
    color: var(--color--white);
  }

  &--orange-4 {
    color: var(--color--orange-4);
  }
}

[data-theme="dark"] .button {
  background-color: var(--color--light-blue-4);
}

.btn-container {
  position: relative;
  padding: 3px;
}

.btn-pad {
  padding: 0.5rem 0;
}

.button-switcher {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  transition: var(--transition);
  &:hover {
    transform: scale(1.2);
  }
}

.buttonImg {
  width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}
