@use "./vars" as *;
@use "../mixins" as *;

.button {
  color: var(--color--white);
  font-family: inherit;
  text-align: left;
  background: var(--color--orange-4);

  @include useOnHover {
    background: var(--color--orange-3);
  }
  @include useOnClick {
    background: var(--color--orange-2);
  }
}
[data-theme="dark"] .button {
  color: var(--color--blue-grey-3);
  font-weight: 500;
  background: var(--color--light-blue-4);

  @include useOnHover {
    background: var(--color--light-blue-3);
  }
  @include useOnClick {
    background: var(--color--light-blue-2);
  }
}

.btn-container {
  position: relative;
  padding: 3px;
}

.btn-pad {
  padding: 0.5rem 0;
}

.button-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: transparent;

  @include useOnHover {
    transform: scale(var(--scale));
  }
}

.buttonImg {
  width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}

.buttonIcon {
  svg {
    fill: var(--color--dark-burger);

    @include useOnHover {
      fill: var(--color--orange-4);
    }
    @include useOnClick {
      fill: var(--color--orange-2);
    }
  }

  &__close {
    z-index: 110;
    position: absolute;
    top: 48px;
    right: 48px;
  }
}
[data-theme="dark"] .buttonIcon {
  svg {
    fill: var(--color--light-burger);

    @include useOnHover {
      fill: var(--color--light-blue-4);
    }
    @include useOnClick {
      fill: var(--color--light-blue-2);
    }
  }
}
