@use "./mixins" as *;
@use "../mixins" as *;

.contact {
  &-page {
    @include flex(column, flex-start, flex-start);
    gap: 2rem;
  }

  &-block {
    @include flex(column, center, center);
    gap: 2rem;

    @include useScreen("tablet-sm") {
      flex-direction: row;
      margin-top: -4rem;
    }
    @include useScreen("tablet-md") {
      margin-top: -5rem;
    }
    @include useScreen("tablet-lg") {
      margin-top: -6rem;
    }
    @include useScreen("tablet-xl") {
      margin-top: -7rem;
    }
  }

  &__form {
    @include flex(column, center, center);
    position: relative;
    gap: 1rem;
    width: 100%;
  }

  &__inputs {
    @include flex(column, center, center);
    gap: 1rem;
    width: 100%;

    @include useScreen("mobile-xl") {
      flex-direction: row;
    }
  }

  &__input {
    @include area(
      var(--color--white),
      var(--color--orange-2),
      var(--color--light-blue-2),
      var(--color--light-blue-3),
      var(--color--blue-grey-1)
    );
    padding: 10px;
    width: 100%;
  }

  &__textfield {
    @include area(
      var(--color--white),
      var(--color--light-blue-2),
      var(--color--orange-1),
      var(--color--light-blue-3),
      var(--color--blue-grey-1)
    );
    width: 100%;
    height: 200px;
    padding: 10px;
  }

  &__animation {
    height: auto;
    max-width: 80%;
    min-width: 250px;
    position: relative;
    z-index: 1;
  }

  &__decoration {
    height: auto;
    position: absolute;
    z-index: 0;
    top: 36rem;

    @include useScreen("tablet-sm") {
      top: 7rem;
    }

    &-first {
      display: none;

      @include useScreen("mobile-lg") {
        display: block;
        left: 1rem;
        width: 230px;
      }
      @include useScreen("tablet-sm") {
        left: 30rem;
      }
      @include useScreen("tablet-md") {
        display: none;
      }
    }

    &-second {
      right: 7rem;
      width: 250px;
      transform: rotateX(180deg);

      @include useScreen("mobile-lg") {
        top: 40rem;
        right: 0;
        width: 260px;
      }
      @include useScreen("tablet-sm") {
        top: 20rem;
      }
      @include useScreen("desktop-md") {
        right: 14rem;
        width: 300px;
      }
    }

    &-third {
      right: -1rem;
      width: 250px;
      transform: rotateY(180deg);

      @include useScreen("mobile-lg") {
        right: 1rem;
        width: 260px;
      }
      @include useScreen("desktop-md") {
        right: 20rem;
        width: 350px;
      }
    }
  }

  &__submit {
    border: 0px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background: var(--color--light-blue-2);
    color: var(--color--blue-grey-1);
    font-weight: 400;
    transition: 250ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      color: var(--color--blue-grey-2);
      background: var(--color--light-blue-3);
    }
  }
}
[data-theme="dark"] .contact {
  &__input {
    @include area(
      var(--color--blue-grey-opacity),
      var(--color--light-blue-2),
      var(--color--orange-2),
      var(--color--light-blue-3),
      var(--color--white-grey)
    );
  }

  &__textfield {
    @include area(
      var(--color--blue-grey-opacity),
      var(--color--orange-2),
      var(--color--light-blue-2),
      var(--color--light-blue-3),
      var(--color--white-grey)
    );
  }

  &__submit {
    background: var(--color--orange-2);
    color: var(--color--white-grey);
    font-weight: 400;
    transition: 250ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      color: var(--color--white);
      background: var(--color--orange-3);
    }
  }
}
