@use "./mixins" as *;
@use "../mixins" as *;

@mixin area(
  $bgColor,
  $borderColor,
  $boxShadowColor,
  $outlineColor,
  $placeholderColor
) {
  border: 0px;
  background-color: $bgColor;
  border-top: 1px solid $borderColor;
  box-shadow: 3px 3px 3px $boxShadowColor;
  outline-color: $outlineColor;
  font-family: Oxygen, "Open Sans", sans-serif;

  &::placeholder {
    color: $placeholderColor;
  }
}

.contact {
  &-page {
    @include flex(column, flex-start, flex-start);
    gap: 2rem;
  }

  &-block {
    @include flex(column, center, center);
    gap: 2rem;

    @include useScreen("tablet-sm") {
      flex-direction: row;
      margin-top: -4rem;
    }
    @include useScreen("tablet-md") {
      margin-top: -5rem;
    }
    @include useScreen("tablet-lg") {
      margin-top: -6rem;
    }
    @include useScreen("tablet-xl") {
      margin-top: -7rem;
    }
  }

  &__form {
    @include flex(column, center, center);
    position: relative;
    gap: 1rem;
    width: 100%;
  }

  &__inputs {
    @include flex(column, center, center);
    gap: 1rem;
    width: 100%;

    @include useScreen("mobile-xl") {
      flex-direction: row;
    }
  }

  &__input {
    @include area(
      var(--color--white),
      var(--color--orange-2),
      var(--color--light-blue-2),
      var(--color--light-blue-3),
      var(--color--blue-grey-1)
    );
    padding: 10px;
    width: 100%;
  }

  &__textfield {
    @include area(
      var(--color--white),
      var(--color--light-blue-2),
      var(--color--orange-1),
      var(--color--light-blue-3),
      var(--color--blue-grey-1)
    );
    width: 100%;
    height: 200px;
    padding: 10px;
  }

  &__animation {
    height: auto;
    max-width: 80%;
    min-width: 250px;
  }

  &__submit {
    border: 0px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background: var(--color--light-blue-2);
    color: var(--color--blue-grey-1);
    font-weight: 400;
    transition: 250ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      color: var(--color--blue-grey-2);
      background: var(--color--light-blue-3);
    }
  }
}
[data-theme="dark"] .contact {
  &__input {
    @include area(
      var(--color--blue-grey-opacity),
      var(--color--light-blue-2),
      var(--color--orange-2),
      var(--color--light-blue-3),
      var(--color--white-grey)
    );
  }

  &__textfield {
    @include area(
      var(--color--blue-grey-opacity),
      var(--color--orange-2),
      var(--color--light-blue-2),
      var(--color--light-blue-3),
      var(--color--white-grey)
    );
  }

  &__submit {
    background: var(--color--orange-2);
    color: var(--color--white-grey);
    font-weight: 400;
    transition: 250ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      color: var(--color--white);
      background: var(--color--orange-3);
    }
  }
}
