@use "./mixins" as *;
@use "../mixins/" as *;

.dropdown {
  &__button {
    @include flex(row, center, center);
    gap: 0.3rem;
    background-image: linear-gradient(
      to right,
      var(--color--orange-4) 10%,
      var(--color--orange-2) 40%,
      var(--color--orange-4) 10%,
      var(--color--orange-2)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color--light-blue-3);
    @include useOnHover {
      color: var(--color--light-blue-2);
      background-image: linear-gradient(
        to right,
        var(--color--orange-2) 10%,
        var(--color--orange-4) 40%,
        var(--color--orange-2) 10%,
        var(--color--orange-4)
      );
    }
    @include useOnClick {
      color: var(--color--light-blue-3);
      background-image: linear-gradient(
        to right,
        var(--color--orange-1) 10%,
        var(--color--orange-2) 40%,
        var(--color--orange-1) 10%,
        var(--color--orange-2)
      );
    }
  }

  &__list {
    @include flex(column, center, center);
    gap: 0.7rem;
  }

  &__item {
    button {
      @include useOnHover {
        color: var(--color--light-blue-1);
      }
      @include useOnClick {
        color: var(--color--light-blue-3);
      }
    }
  }

  &__container {
    position: relative;
  }

  &__content {
    border-radius: var(--pad--sm);
    padding: 1rem 1rem 0.5rem 0.5rem;
    position: absolute;
    top: 1.5rem;
    left: -1rem;
    background-color: var(--color--orange-2);
    z-index: 1;
    button {
      color: var(--color--white);
      text-transform: uppercase;
    }
  }

  &-nested {
    &__container {
      padding: 0.11rem;
      position: relative;
      &:hover + div,
      &:hover + .dropdown-nested__content {
        display: block;
      }
    }

    &__list {
      border-radius: var(--pad--sm);
      padding: 1rem 1rem 0.5rem 0.5rem;
      background-color: var(--color--light-blue-3);
    }

    &__item {
      button {
        @include useOnHover {
          color: var(--color--orange-1);
        }
        @include useOnClick {
          color: var(--color--orange-2);
        }
      }
    }

    &__content {
      padding-right: 2rem;
      display: none;
      position: absolute;
      top: 50px;
      right: 80%;
      z-index: 1;
      &:hover {
        display: block;
      }
    }
  }
}
[data-theme="dark"] .dropdown {
  &__button {
    background-image: linear-gradient(
      to right,
      var(--color--light-blue-4) 10%,
      var(--color--light-blue-2) 40%,
      var(--color--light-blue-4) 10%,
      var(--color--light-blue-2)
    );
    color: var(--color--orange-3);
    @include useOnHover {
      color: var(--color--orange-2);
      background-image: linear-gradient(
        to right,
        var(--color--light-blue-2) 10%,
        var(--color--light-blue-4) 40%,
        var(--color--light-blue-2) 10%,
        var(--color--light-blue-4)
      );
    }
    @include useOnClick {
      color: var(--color--orange-3);
      background-image: linear-gradient(
        to right,
        var(--color--light-blue-4) 10%,
        var(--color--light-blue-2) 40%,
        var(--color--light-blue-4) 10%,
        var(--color--light-blue-2)
      );
    }
  }

  &__content {
    background-color: var(--color--light-blue-3);
  }

  &__item {
    button {
      @include useOnHover {
        color: var(--color--light-burger);
      }
      @include useOnClick {
        color: var(--color--orange-1);
      }
    }
  }

  &-nested {
    &__list {
      background-color: var(--color--orange-2);
    }

    &__item {
      button {
        @include useOnHover {
          color: var(--color--light-blue-1);
        }
        @include useOnClick {
          color: var(--color--light-blue-3);
        }
      }
    }
  }
}
