@use "vars" as *;
@use "./mixins" as *;
@use "../mixins" as *;

.footer {
  @include flex(column, center, center);
  position: relative;
  min-height: 15rem;
  padding: 2.5rem;
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--orange-4) 0%,
    var(--color--orange-1) 99.23%
  );
  gap: 3rem;

  @include useScreen("mobile-md") {
    gap: 2rem;
  }

  &-contacts {
    @include flex(column, center, center);
    gap: 1rem;

    @include useScreen("tablet-sm") {
      flex-direction: row;
      gap: 3rem;
    }

    &__title {
      width: 70%;
      color: var(--color--white);
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.1rem;

      @include useScreen("tablet-sm") {
        width: 30%;
      }
    }
  }

  &-icons {
    @include flex(column, center, center);
    flex-wrap: wrap;
    padding-top: 1rem;
    gap: 1.2rem;

    @include useScreen("tablet-xl") {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__block {
      @include flex(column, center, center);
      gap: 1.2rem;

      @include useScreen("mobile-md") {
        flex-direction: row;
      }

      &-title {
        color: var(--color--white);
        text-align: center;
      }
      &-links {
        @include flex(row, center, center);
        gap: 1.2rem;

        @include useScreen("tablet-xl") {
          justify-content: space-between;
        }

        a {
          @include flex(row, center, center);
          opacity: 0.7;
          position: relative;
          width: 30px;
          height: 30px;
          border: 2px solid var(--color--white);
          border-radius: var(--border-radius--rounded);
          color: var(--color--white);

          @include useOnHover {
            @include flex(row, center, center);
            opacity: 1;
            z-index: 10;
            border-color: var(--color--light-blue-2);
            color: var(--color--light-blue-2);
            text-align: center;

            &::before {
              position: absolute;
              top: 35px;
              width: max-content;
              padding: 0.5rem;
              border-radius: var(--border-radius--md);
              color: var(--color--white);
              font-size: 10px;
              content: attr(data-text);
              background: radial-gradient(
                80.97% 80.37% at 56.01% 19.03%,
                var(--color--light-blue-1) 0%,
                var(--color--light-blue-4) 99.23%
              );
            }
          }

          @include useOnClick {
            opacity: 1;
            border-color: var(--color--light-blue-4);
            color: var(--color--light-blue-4);
          }
        }
      }
    }
  }

  &__logo img {
    filter: drop-shadow(1px 4px 7px rgba(0, 0, 0, 0.2));
  }

  &__links {
    @include flex(row, center, center);
    gap: 3rem;

    a {
      color: var(--color--white);
    }
  }
}
[data-theme="dark"] .footer {
  background: radial-gradient(
    80.97% 80.37% at 56.01% 19.03%,
    var(--color--light-blue-4) 0%,
    var(--color--light-blue-1) 99.23%
  );

  &-contacts {
    &__title {
      color: var(--color--blue-grey-3);
    }
  }

  &-icons {
    &__block {
      color: var(--color--black);

      &-title {
        color: var(--color--blue-grey-2);
      }

      &-links {
        color: var(--color--black);

        a {
          border: 2px solid var(--color--blue-grey-2);
          color: var(--color--black);

          @include useOnHover {
            border-color: var(--color--orange-1);
            color: var(--color--orange-1);

            &:before {
              background: radial-gradient(
                80.97% 80.37% at 56.01% 19.03%,
                var(--color--orange-1) 0%,
                var(--color--orange-4) 99.23%
              );
            }
          }
        }

        @include useOnClick {
          border-color: var(--color--orange-4);
          color: var(--color--orange-4);
        }
      }
    }
  }
}
