@use "./mixins" as *;
@use "../mixins" as *;

.home-content {
  z-index: 30;
  position: relative;
  width: 100vw;
  background: var(--color--bg-light);
}
[data-theme="dark"] .home-content {
  background: var(--color--bg-dark);
}

.hero {
  &-container {
    @include flex(column, center, center);
    position: relative;
    gap: 2rem;

    @include useScreen("tablet-sm") {
      @include flex(row, space-between, center);
    }
  }

  &-headings {
    @include flex(column, flex-start, flex-start);
  }

  &-blur {
    align-self: flex-end;
    z-index: -100;
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--color--orange-4);
  }

  &-content {
    @include flex(column, space-between, center);
    width: 100%;
    gap: 1.5rem;

    @include useScreen("mobile-xl") {
      align-items: flex-start;
    }

    h2 {
      font-weight: 500;
      line-height: 3rem;
      -webkit-text-fill-color: var(--color--light-blue-2);
      -webkit-text-stroke: 1px var(--color--light-blue-3);
    }

    h1 {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 3rem;
      -webkit-text-fill-color: var(--color--light-blue-3);
      -webkit-text-stroke: 1px var(--color--light-blue-4);
    }

    h4 {
      align-self: flex-start;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px var(--color--blue-grey-2);
    }

    p {
      color: var(--color--orange-2);
      @include useScreen("tablet-sm") {
        max-width: 60%;
      }
    }
  }

  &-image {
    position: relative;

    @include useScreen("mobile-lg") {
      align-self: flex-end;
    }

    @include useScreen("tablet-sm") {
      align-self: center;
    }

    &__content {
      position: relative;
      border-radius: var(--border-radius--sm);
      width: 200px;
      height: 200px;

      @include useScreen("tablet-sm") {
        width: 250px;
        height: 250px;
      }

      @include useScreen("tablet-md") {
        width: 300px;
        height: 300px;
      }
    }

    &__decoration {
      position: absolute;
      left: -12rem;
      bottom: -4rem;
      width: 110%;
      height: auto;
      opacity: 0.7;

      @include useScreen("tablet-md") {
        width: 120%;
        left: -18rem;
      }

      @include useScreen("tablet-xl") {
        width: 130%;
        left: -22rem;
        bottom: -6rem;
      }
    }

    &::before {
      position: absolute;
      right: -20px;
      bottom: 20px;
      width: 3px;
      height: 150px;
      content: "";
      background: var(--color--light-blue-2);

      @include useScreen("tablet-sm") {
        height: 200px;
      }
    }
    &::after {
      position: absolute;
      right: 20px;
      bottom: -20px;
      width: 150px;
      height: 3px;
      content: "";
      background: var(--color--orange-2);

      @include useScreen("tablet-sm") {
        width: 200px;
      }
    }
  }

  &-buttons {
    @include flex(column, center, center);
    gap: 1rem;
    @include useScreen("mobile-xl") {
      @include flex(row, center, center);
      gap: 2rem;
    }
  }
}
[data-theme="dark"] .hero {
  &-blur {
    box-shadow: 0 0 1000px 50px var(--color--light-blue-5);
  }

  &-content {
    h2 {
      -webkit-text-fill-color: var(--color--orange-2);
      -webkit-text-stroke: 1px var(--color--orange-3);
    }

    h1 {
      -webkit-text-fill-color: var(--color--orange-3);
      -webkit-text-stroke: 1px var(--color--orange-2);
    }

    h4 {
      -webkit-text-stroke: 1px var(--color--white-grey);
    }

    p {
      margin-bottom: 2rem;
      color: var(--color--light-blue-2);
    }
  }

  &-image {
    &::before {
      background: var(--color--orange-2);
    }
    &::after {
      background: var(--color--light-blue-2);
    }
  }
}

.section-header {
  @include flex(column, center, center);
  width: 100%;
  gap: 1rem;

  @include useScreen("mobile-lg") {
    @include flex(row, space-between, flex-start);
  }
  @include useScreen("tablet-lg") {
    width: 50%;
  }

  h2 {
    text-transform: uppercase;
    -webkit-text-fill-color: var(--color--orange-1);
    -webkit-text-stroke: 1px var(--color--orange-4);
  }

  button {
    text-align: center;
    @include useScreen("mobile-lg") {
      margin-top: 2rem;
    }
  }
}

[data-theme="dark"] .section-header {
  h1 {
    -webkit-text-fill-color: var(--color--light-blue-3);
    -webkit-text-stroke: 1px var(--color--light-blue-4);
  }
}

.features {
  @include flex(column, center, center);
  gap: 3rem;

  &-cards {
    width: 100%;
    @include flex(column, center, center);
    gap: 1.2rem;

    @include useScreen("tablet-lg") {
      flex-direction: row;
    }
  }

  &-card {
    @include flex(row, center, center);
    width: 100%;
    border-radius: var(--border-radius--sm);

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }

    @include useScreen("tablet-lg") {
      flex-direction: column;
      &:nth-child(2n + 1) {
        flex-direction: column-reverse;
      }
    }

    &__decoration {
      position: relative;
      z-index: 0;
    }

    &__content {
      z-index: 1;
      position: relative;
      min-width: 300px;
      max-width: 400px;
      min-height: 270px;
      text-align: center;
      position: relative;
      padding: 8rem 0;
      transition: transform 3s;
      transform-style: preserve-3d;

      &:hover {
        transform: rotateY(0.5turn);
      }
    }

    &__front,
    &__back {
      @include flex(column, center, center);
      gap: 0.5rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      backface-visibility: hidden;
      transform-style: preserve-3d;
    }

    &__front {
      padding: 5rem 3rem;
      background-color: var(--color--light-blue-1);
      background-size: cover;
    }
    &__front-first {
      background-image: url("/images/features/cards-bg/1.jpg");
    }
    &__front-second {
      background-image: url("/images/features/cards-bg/2.jpg");
    }
    &__front-third {
      background-image: url("/images/features/cards-bg/3.jpg");
    }

    &__front::before {
      content: "";
      position: absolute;
      --spacer: 1rem;
      top: var(--spacer);
      bottom: var(--spacer);
      left: var(--spacer);
      right: var(--spacer);
      border: 3px solid currentColor;
      transform: var(--level-one);
    }

    &__title {
      transform: var(--level-three);
      order: 2;
      text-transform: uppercase;
    }

    &__subtitle {
      transform: var(--level-two);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: var(--fw-bold);
      opacity: 0.7;
    }

    &__body {
      transform: var(--level-two);
      font-weight: var(fw-normal);
      line-height: 1.6;
    }

    &__back {
      padding: 1rem;
      transform: rotateY(0.5turn);
      background: var(--color--light-blue-1);
    }
  }

  &-info {
    @include flex(column, center, center);
    gap: 1rem;
  }
}
[data-theme="dark"] .features {
  &-card {
    &__content {
      color: var(--color--grey);
    }

    &__back {
      background: var(--color--orange-1);
    }
  }
}

.devices {
  @include flex(column, center, center);
  padding: 4rem;
  gap: 4rem;

  @include useScreen("tablet-lg") {
    gap: 2rem;
  }

  &__title {
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    svg {
      padding-bottom: 0.12rem;
    }
  }

  &__titles {
    @include flex(column, flex-start, flex-start);
    gap: 2rem;

    div:first-child {
      text-align: left;
    }
    div:last-child {
      text-align: right;
    }

    @include useScreen("tablet-lg") {
      @include flex(row, space-between, center);
      gap: 12rem;
    }
  }

  &__hint {
    @include flex(column, center, center);
    position: relative;
    align-self: end;
    width: 60%;
    gap: 1.5rem;

    @include useScreen("mobile-lg") {
      @include flex(row, space-between, flex-start);
      width: 20rem;
    }

    &-prompt {
      align-self: end;
      text-align: left;
    }

    &-comment {
      p {
        font-size: 1rem;
      }
      align-self: start;
      text-align: right;
      svg {
        padding-right: 0.12rem;
        padding-bottom: 0.12rem;
      }
    }

    &-onHover {
      position: relative;
      cursor: pointer;
      &:hover div,
      &:hover .devices__hint-onHoverVisible {
        display: block;
      }
    }

    &-onHoverVisible {
      display: none;
      position: absolute;
      top: 5rem;
      left: -0.1rem;
      padding: 1rem;
      background: var(--color--light-blue-1);
      box-shadow: inset 0 0 3px 2px var(--color--grey-opacity);
    }
  }
}
[data-theme="dark"] .devices {
  &__hint {
    &-onHoverVisible {
      background: var(--color--grey);
      box-shadow: inset 0 0 3px 2px var(--color--grey-opacity);
    }
  }
}

.canvas {
  width: 100vw !important;
  height: 50vh !important;
  margin: 0 auto;
  cursor: grab;

  @include useScreen("tablet-lg") {
    width: 50vw !important;
    height: 70vh !important;
  }

  &__container {
    @include flex(column, center, center);
    width: 125%;

    border-top: 1px dotted var(--color--light-blue-1);
    border-bottom: 1px dotted var(--color--light-blue-1);

    div {
      border-top: 1px dotted var(--color--light-blue-1);
      border-bottom: 1px dotted var(--color--light-blue-1);
    }

    @include useScreen("tablet-lg") {
      @include flex(row, space-between, center);
      padding: 0 4rem;

      div {
        border-right: 1px dotted var(--color--light-blue-1);
        border-left: 1px dotted var(--color--light-blue-1);
      }
    }
  }
  [data-theme="dark"] .canvas {
    &__container {
      border-top: 1px dotted var(--color--blue-grey-3);
      border-bottom: 1px dotted var(--color--blue-grey-3);

      div {
        border-right: 1px dotted var(--color--blue-grey-3);
        border-left: 1px dotted var(--color--blue-grey-3);
      }
    }
  }

  .video {
    position: fixed;
    top: 76px;
    left: 0;
    width: 100vw;
    height: auto;
    max-height: 90vh;

    @include useScreen("mobile-md") {
      top: 0;
    }
  }

  .gallery {
    &-section {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 2rem;
        background: linear-gradient(
          to bottom,
          var(--color--grey-opacity) 40%,
          transparent 120%
        );
      }

      & > div {
        margin: 0 auto;
      }
    }
  }
}
