.home-container {
  display: grid;
  position: relative;
  align-items: center;
  margin: auto;
  padding: 5rem 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.home-section {
  z-index: 30;
  position: relative;
  width: 100vw;
  margin-left: 1rem;
  background: var(--color--bg-light);
}

.home-blur {
  z-index: -100;
  position: absolute;
  box-shadow: 0 0 1000px 50px #1d4ed8;
}

.home-content h4 {
  margin-bottom: 1rem;
  color: #ccc;
  font-weight: 600;
  font-size: 1rem;
}

.home-content h1 {
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
}

.home-content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.home-content p {
  margin-bottom: 2rem;
  color: #ccc;
}

.home-image {
  position: relative;
}

.home-image::before {
  opacity: 0home-2;
  z-index: -100;
  position: absolute;
  top: 0;
  left: 50%;
  color: #1d4ed8;
  font-weight: 400;
  font-size: 38rem;
  line-height: 20rem;
  content: "o";
  transform: translateX(-50%);
}

.home-image img {
  max-width: 600px;
  margin: auto;
}

.home-header {
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
}
