@use "./mixins" as *;
@use "../mixins" as *;

.hero {
  &-container {
    @include flex(column, center, center);
    position: relative;
    padding: 5rem 2rem;
    gap: 2rem;

    @include useScreen("tablet-md") {
      @include flex(row, space-between, center);
    }
  }

  &-section {
    z-index: 30;
    position: relative;
    width: 100vw;
    background: var(--color--bg-light);
  }

  &-blur {
    z-index: -100;
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--color--orange-4);
  }

  &-content {
    @include flex(column, space-between, flex-start);
    width: 100%;
    gap: 1.5rem;

    h2 {
      font-weight: 500;
      font-size: clamp(2.3rem, 1vw, 1.75rem);
      line-height: 3rem;
      -webkit-text-fill-color: var(--color--light-blue-2);
      -webkit-text-stroke: 1px var(--color--light-blue-3);
    }

    h3 {
      font-weight: 700;
      font-size: clamp(2rem, 1vw, 1.75rem);
      line-height: 3rem;
      text-transform: uppercase;
      -webkit-text-fill-color: var(--color--light-blue-3);
      -webkit-text-stroke: 1px var(--color--light-blue-4);
    }

    h4 {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px var(--color--blue-grey-2);
    }

    p {
      color: var(--color--orange-2);
    }
  }

  &-image {
    position: relative;
    width: 300px;
    height: 300px;

    img {
      border-radius: var(--border-radius--sm);
    }

    &::before {
      position: absolute;
      right: -20px;
      bottom: 20px;
      width: 3px;
      height: 200px;
      content: "";
      background: var(--color--light-blue-2);
    }
    &::after {
      position: absolute;
      right: 20px;
      bottom: -20px;
      width: 200px;
      height: 3px;
      content: "";
      background: var(--color--orange-2);
    }
  }

  &-buttons {
    @include flex(column, center, flex-start);
    gap: 1rem;
    @include useScreen("mobile-xl") {
      @include flex(row, center, center);
      gap: 2rem;
    }
  }
}
[data-theme="dark"] .hero {
  &-section {
    background: var(--color--bg-dark);
  }

  &-blur {
    box-shadow: 0 0 1000px 50px var(--color--light-blue-3);
  }

  &-content {
    h2 {
      -webkit-text-fill-color: var(--color--orange-2);
      -webkit-text-stroke: 1px var(--color--orange-3);
    }

    h3 {
      -webkit-text-fill-color: var(--color--orange-3);
      -webkit-text-stroke: 1px var(--color--orange-2);
    }

    h4 {
      -webkit-text-stroke: 1px var(--color--blue-grey-1);
    }

    p {
      margin-bottom: 2rem;
      color: var(--color--light-blue-2);
    }
  }

  &-image {
    &::before {
      background: var(--color--orange-2);
    }
    &::after {
      position: absolute;
      right: 20px;
      bottom: -20px;
      width: 200px;
      height: 3px;
      content: "";
      background: var(--color--light-blue-2);
    }
  }
}
