@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin area(
  $bgColor,
  $borderColor,
  $boxShadowColor,
  $outlineColor,
  $placeholderColor
) {
  border: 0px;
  border-top: 1px solid $borderColor;
  outline-color: $outlineColor;
  font-family: Oxygen, "Open Sans", sans-serif;
  background-color: $bgColor;
  box-shadow: 3px 3px 3px $boxShadowColor;

  &::placeholder {
    color: $placeholderColor;
  }
}

@mixin box-shadow-1($color) {
  box-shadow: inset 0 0 30px 20px $color;
}

@mixin box-shadow-2($color) {
  box-shadow: inset 0 0 3px 2px $color;
}

@mixin box-shadow-3($color) {
  box-shadow: 0 0 15px $color;
}

@mixin box-shadow-4($color) {
  box-shadow: 0 0 1000px 50px $color;
}

@mixin box-shadow-5($color) {
  box-shadow: 0 0 10px $color;
}

@mixin box-shadow-6($color) {
  box-shadow: 0 1px 15px $color;
}

@mixin box-shadow-7($color) {
  box-shadow: inset 3px 6px 6px 6px $color;
}

@mixin box-shadow-7($color) {
  box-shadow: 0 10px 15px $color;
}

@mixin text-linearGradient-1($color-1, $color-2) {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    $color-1,
    $color-2,
    $color-1 50%,
    $color-2,
    $color-1
  );
  background-clip: text;
}

@mixin text-linearGradient-2($color-1, $color-2) {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    $color-1 10%,
    $color-2 40%,
    $color-1 10%,
    $color-2
  );
  background-clip: text;
}