@use "../mixins" as *;
@use "./vars" as *;

.navigation {
  padding: 1rem 0.6rem 0 0.6rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  z-index: 10;

  @include useScreen("mobile-lg") {
    padding: 1.5rem 2rem 0 2rem;
  }

  @include useScreen("tablet-sm") {
    padding: 2rem 2rem 0 2rem;
  }
}

.container-items {
  padding: 0.3rem 1rem;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &__frame {
    background-color: var(--color--white);
    box-shadow: 0 0 10px var(--box-shadow);
  }

  &__item {
    > a {
      color: var(--color--blue-grey-1);
      transition: var(--transition);

      font-weight: 500;
      font-size: clamp(1rem, 3vw, 1.25rem);

      &:hover {
        color: var(--color--orange-3);
      }
    }
  }
  &__item-color {
    > a {
      color: var(--color--white-grey);
      &:hover {
        color: var(--color--light-blue-1);
      }
    }
  }
}
[data-theme="dark"] .container-items {
  background-color: var(--color--blue-grey-4);
  &__item {
    > a {
      color: var(--color--white-grey);
      &:hover {
        color: var(--color--light-blue-3);
      }
    }
  }
  &__item-color {
    > a {
      color: var(--color--blue-grey-2);
      &:hover {
        color: var(--color--orange-3);
      }
    }
  }
}

.navigation-items {
  padding: 0.3rem 0.7rem;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    > a {
      color: var(--color--blue-grey-1);
      transition: var(--transition);

      font-weight: 500;
      font-size: clamp(1rem, 3vw, 1.25rem);

      &:hover {
        color: var(--color--orange-3);
      }
    }
  }
  &__item-color {
    > a {
      color: var(--color--white-grey);
      &:hover {
        color: var(--color--light-blue-1);
      }
    }
  }
}
[data-theme="dark"] .navigation-items {
  &__item {
    > a {
      color: var(--color--white-grey);
      &:hover {
        color: var(--color--light-blue-3);
      }
    }
  }
  &__item-color {
    > a {
      color: var(--color--blue-grey-2);
      &:hover {
        color: var(--color--orange-3);
      }
    }
  }
}

.active-menu {
  transition: var(--transition);
  transform: scale(var(--scale));
  > a {
    color: var(--color--light-blue-3);
  }
  &__banner {
    > a {
      color: var(--color--orange-3);
    }
  }
}
[data-theme="dark"] .active-menu {
  > a {
    color: var(--color--orange-2);
  }
  &__banner {
    > a {
      color: var(--color--light-blue-4);
    }
  }
}

.burgerBackdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color--dark-opacity);
  backdrop-filter: blur(3px);
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  &__active {
    opacity: 1;
    visibility: visible;
  }
}

.burgerBackground {
  z-index: 102;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background: var(--color--white);
  opacity: 0;
  transform: translateY(-100%);
  transition: var(--transition);
  &__active {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-theme="dark"] .burgerBackground {
  background: var(--color--blue-grey-4);
}

.column {
  display: flex;
  z-index: 103;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8rem 1rem;
  overflow: auto;
  gap: 4rem;
}
