@use "vars" as *;
@use "./mixins" as *;
@use "../mixins/" as *;

.projects {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: var(--pad--sm-2);
  grid-auto-flow: dense;

  &__header {
    @include flex(row, space-between, flex-start);
    z-index: 9;
    position: relative;
    gap: 3rem;
  }

  &__headings {
    @include flex(column, flex-start, flex-start);
    gap: 0.5rem;

    h1 {
      background-image: linear-gradient(
        to right,
        var(--color--light-blue-4),
        var(--color--light-blue-3),
        var(--color--light-blue-4) 50%,
        var(--color--light-blue-3),
        var(--color--light-blue-4)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h6 {
      background-image: linear-gradient(
        to right,
        var(--color--orange-2),
        var(--color--orange-4),
        var(--color--orange-2) 50%,
        var(--color--orange-4),
        var(--color--orange-2)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__filter {
    padding-right: 4rem;

    button {
      text-transform: uppercase;
    }
  }
}
[data-theme="dark"] .projects {
  &__headings {
    h1 {
      background-image: linear-gradient(
        to right,
        var(--color--orange-2),
        var(--color--orange-4),
        var(--color--orange-2) 50%,
        var(--color--orange-4),
        var(--color--orange-2)
      );
    }

    h6 {
      background-image: linear-gradient(
        to right,
        var(--color--light-blue-4),
        var(--color--light-blue-3),
        var(--color--light-blue-4) 50%,
        var(--color--light-blue-3),
        var(--color--light-blue-4)
      );
    }
  }
}

.project {
  position: relative;
  border: 1px solid var(--color--dark-opacity);
  border-radius: var(--pad--sm);
  color: var(--color--white);
  background-color: var(--color--white);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);

  &-banner {
    cursor: pointer;
  }

  &-page {
    border: none;
  }

  img {
    width: 100%;
    height: 160px;
    border-radius: var(--pad--sm);
    object-fit: cover;
  }

  &__title {
    padding: var(--pad--sm-2);
    font-weight: 400;
    background: linear-gradient(
      to right,
      var(--color--light-blue-2),
      var(--color--orange-2)
    );
    -webkit-text-fill-color: transparent;
  }

  &:first-child {
    display: flex;
    gap: var(--pad--sm-2);
  }

  &__header {
    position: relative;
    height: 88vh;

    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      max-height: 80vh;
      border-radius: var(--border-radius--lg);
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80vh;
      border-radius: var(--border-radius--lg);
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.9)
      );
    }
  }

  .banner {
    z-index: 9;
    position: absolute;
    bottom: 5rem;
    left: 1.5rem;
    width: calc(100% - 3rem);
    overflow-x: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

    &__header {
      @include flex(row, flex-start, center);
      gap: 1rem;
    }
    &__title {
      font-weight: 400;
    }

    &__text {
      margin: 0.5rem 0;
    }

    &__categories {
      display: none;

      @include useScreen("tablet-sm") {
        @include flex(row, center, center);
        gap: 1rem;

        span {
          padding: 0.3rem 0.8rem;
          border-radius: var(--border-radius--lg);
          color: var(--color--white);
          background-color: var(--color--grey-opacity);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  &__content {
    &__text {
      display: grid;
      padding: 0 2rem;
      font-weight: 500;
      transition: var(--transition);
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem;

      @include useScreen("tablet-sm") {
        padding: 0 4rem;
        grid-template-columns: repeat(2, 1fr);
      }
      @include useScreen("tablet-lg") {
        padding: 6rem 10rem;
      }
      @include useScreen("desktop-md") {
        padding: 6rem 20rem;
      }

      &-features {
        @include flex(column, flex-start, flex-start);
        gap: 1rem;

        li {
          margin-left: 1rem;
          list-style: square;
        }
      }

      h4 {
        margin-bottom: 1rem;
        color: var(--color--light-blue-3);

        font-weight: 500;
      }

      li,
      p,
      a {
        color: var(--color--orange-2);
      }

      .links {
        li {
          padding-bottom: 1rem;
        }

        a {
          position: relative;
          padding-bottom: 0.4rem;
          transition: var(--transition);

          @include useOnHover {
            color: var(--color--orange-3);
          }
          @include useOnClick {
            color: var(--color--orange-4);
          }

          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: var(--color--orange-2);
          }
        }
      }

      &-solution {
        @include flex(column, flex-start, flex-start);
        gap: 1rem;
      }
    }

    &__screenshots {
      img {
        max-height: 90vh;
        border: 1px solid var(--color--light-blue-3);
      }
    }

    .horizontal-images {
      display: grid;
      margin-top: 0;
      border-radius: var(--border-radius--sm);
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 3rem;

      @include useScreen("tablet-md") {
        margin-top: 1rem;
      }

      > img {
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius--sm);
        object-fit: cover;
      }

      &__fullscreen {
        @include flex(column, center, center);
        padding: 2rem;

        > img {
          width: auto;
          max-width: 100%;
          height: auto;
          object-fit: cover;

          &:not(:first-child) {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
[data-theme="dark"] .project {
  border: 1px solid var(--color--light-opacity);
  color: var(--color--black);
  background-color: var(--color--black);

  &-page {
    border: none;
  }

  .banner {
    &__categories {
      span {
        color: var(--color--black);
      }
    }
  }

  &__content {
    &__text {
      h4 {
        color: var(--color--orange-3);
      }

      li,
      p,
      a {
        color: var(--color--light-blue-3);
      }

      .links {
        a {
          &::after {
            background-color: var(--color--light-blue-2);
          }

          @include useOnHover {
            color: var(--color--light-blue-4);
          }
          @include useOnClick {
            color: var(--color--light-blue-1);
          }
        }
      }
    }
    &__screenshots {
      img {
        border: 1px solid var(--color--orange-3);
      }
    }
  }
}

.project__image {
  flex: 0 0 50%;

  > img {
    height: auto;
    border-top-left-radius: var(--pad--sm);
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--pad--sm);

    @include useScreen("tablet-md") {
      height: 100%;
    }
  }
}

.project__title {
  padding-left: var(--pad--sm-2);

  @include useScreen("tablet-md") {
    padding-left: 0;
  }
}

.project__image {
  > img {
    height: auto;

    @include useScreen("tablet-md") {
      height: 100%;
    }
  }
}

.project-page {
  margin-top: 1rem;
  color: var(--color--white);

  p {
    font-weight: 500;
    line-height: 1.6;
  }

  &__header {
    @include flex(column, center, center);

    &__profile {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 8rem;
      gap: 1rem;

      .logo {
        width: 4rem;
        height: 4rem;
        border: 2px solid #fafafc;
        border-radius: var(--border-radius--rounded);
        background-color: #fff;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);

        img {
          padding: 0.4rem;
        }
      }
    }

    &__date {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__image {
      right: 0;
      padding-left: 2rem;

      > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center top;
      }
    }
  }

  &__title {
    max-width: 1200px;
    margin-bottom: var(--pad--sm-2);
    padding: 0 8rem;
    font-weight: 600;
  }

  &__content {
    padding: 3rem;

    @include useScreen("tablet-md") {
      padding: 10rem 18rem;
    }

    @include useScreen("desktop-md") {
      padding: 8rem;
    }

    &__introduction {
      padding: 0 8rem 4rem 8rem;
      font-weight: 500;

      line-height: 1.4;
    }

    &__intro-image {
      width: 100%;
      height: auto;
      padding-bottom: 4rem;
      object-fit: cover;
      object-position: center top;
    }

    &__list li {
      margin: 0 4rem;
      padding: 1rem 0;
      list-style: decimal;

      @include useScreen("tablet-md") {
        margin: 0 12rem;
      }

      p:first-child {
        padding-bottom: 1rem;

        font-weight: 600;
      }
    }
  }
}

.hover {
  @include flex(column, space-between, center);
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border-radius: var(--border-radius--sm);
  color: var(--color--black);
  transform: translate(-50%, -50%);

  &__categories {
    @include flex(row, flex-end, center);
    flex-wrap: wrap;

    gap: 0.5rem;

    span {
      padding: 0.3rem 0.8rem;
      border-radius: var(--border-radius--md);
      background-color: var(--color--white);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }

  &__title {
    align-self: flex-start;
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius--lg);
    font-weight: 500;
    background-color: var(--color--white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
