@use "vars" as *;
@use "./mixins" as *;
@use "../mixins/" as *;

.projects {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: var(--pad--sm-2);
  grid-auto-flow: dense;

  &__header {
    @include flex(row, space-between, flex-start);
    gap: 3rem;
    position: relative;
    z-index: 9;
  }

  &__headings {
    @include flex(column, flex-start, flex-start);
    gap: 0.5rem;
    h1 {
      background-image: linear-gradient(
        to right,
        var(--color--light-blue-4),
        var(--color--light-blue-3),
        var(--color--light-blue-4) 50%,
        var(--color--light-blue-3),
        var(--color--light-blue-4)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h6 {
      background-image: linear-gradient(
        to right,
        var(--color--orange-2),
        var(--color--orange-4),
        var(--color--orange-2) 50%,
        var(--color--orange-4),
        var(--color--orange-2)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__filter {
    button {
      text-transform: uppercase;
    }
    padding-right: 4rem;
  }
}
[data-theme="dark"] .projects {
  &__headings {
    h1 {
      background-image: linear-gradient(
        to right,
        var(--color--orange-2),
        var(--color--orange-4),
        var(--color--orange-2) 50%,
        var(--color--orange-4),
        var(--color--orange-2)
      );
    }
    h6 {
      background-image: linear-gradient(
        to right,
        var(--color--light-blue-4),
        var(--color--light-blue-3),
        var(--color--light-blue-4) 50%,
        var(--color--light-blue-3),
        var(--color--light-blue-4)
      );
    }
  }
}

.project {
  cursor: pointer;
  border-radius: var(--pad--sm);
  border: 1px solid var(--color--dark-opacity);
  color: var(--color--white);
  background-color: var(--color--white);

  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);

  img {
    width: 100%;
    height: 260px;
    object-fit: cover;

    border-radius: var(--pad--sm);

    @include useScreen("tablet-md") {
      height: auto;
    }
  }

  &__title {
    padding: var(--pad--sm-2);
    font-weight: 400;

    background: linear-gradient(
      to right,
      var(--color--light-blue-2),
      var(--color--orange-2)
    );
    -webkit-text-fill-color: transparent;
  }

  &:first-child {
    display: flex;
    gap: var(--pad--sm-2);
  }

  &__header {
    position: relative;
    height: 88vh;

    .bg-image {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: auto;
      max-height: 80vh;

      object-fit: cover;

      border-radius: 1.5rem;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 80vh;

      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.9)
      );

      border-radius: 1.5rem;
    }
  }

  .banner {
    overflow-x: hidden;
    position: absolute;
    left: 1.5rem;
    bottom: 5rem;

    width: calc(100% - 3rem);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

    z-index: 9;

    &__header {
      display: flex;
      align-items: center;
      gap: 3rem;
    }
    &__title {
      font-weight: 400;
    }

    &__text {
      margin: 0.5rem 0;
    }

    &__categories {
      display: none;

      @include useScreen("tablet-sm") {
        @include flex(row, center, center);
        gap: 1rem;

        span {
          padding: 0.3rem 0.8rem;
          border-radius: 30px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

          color: var(--color--white);
          background-color: var(--color--grey-opacity);
        }
      }
    }
  }

  &__content {
    &__text {
      padding: 0 2rem;

      display: grid;
      grid-template-columns: repeat(1, 1fr);

      gap: 3rem;

      font-weight: 500;

      transition: var(--transition);

      @include useScreen("tablet-sm") {
        padding: 0 4rem;
      }

      @include useScreen("tablet-sm") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include useScreen("tablet-lg") {
        padding: 6rem 10rem;
      }
      @include useScreen("desktop-md") {
        padding: 6rem 20rem;
      }

      .features li {
        list-style: square;
        margin-left: 1rem;
      }

      h4 {
        margin-bottom: 1rem;
        font-weight: 500;

        color: var(--color--light-blue-3);
      }

      li,
      p,
      a {
        color: var(--color--orange-2);
      }

      .links {
        li {
          padding-bottom: 1rem;
        }

        a {
          padding-bottom: 0.4rem;
          position: relative;
          transition: var(--transition);
          @include useOnHover {
            color: var(--color--orange-3);
          }
          @include useOnClick {
            color: var(--color--orange-4);
          }
          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background-color: var(--color--orange-2);
          }
        }
      }

      &-solution {
        @include flex(column, flex-start, flex-start);
        gap: 1rem;
      }
    }

    &__screenshots {
      img {
        border: 1px solid var(--color--light-blue-3);
        max-height: 90vh;
      }
    }

    .horizontal-images {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 3rem;
      margin-top: 0;

      border-radius: 0.5rem;

      @include useScreen("tablet-md") {
        margin-top: 1rem;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      &__fullscreen {
        @include flex(column, center, center);
        padding: 2rem;

        > img {
          max-width: 100%;
          width: auto;
          height: auto;
          object-fit: cover;
          &:not(:first-child) {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
[data-theme="dark"] .project {
  border: 1px solid var(--color--light-opacity);
  color: var(--color--black);
  background-color: var(--color--black);

  .banner {
    &__categories {
      span {
        color: var(--color--black);
      }
    }
  }

  &__content {
    &__text {
      h4 {
        color: var(--color--orange-3);
      }

      li,
      p,
      a {
        color: var(--color--light-blue-3);
      }

      .links {
        a {
          &::after {
            background-color: var(--color--light-blue-2);
          }

          @include useOnHover {
            color: var(--color--light-blue-4);
          }
          @include useOnClick {
            color: var(--color--light-blue-1);
          }
        }
      }
    }
    &__screenshots {
      img {
        border: 1px solid var(--color--orange-3);
      }
    }
  }
}

.project__image {
  flex: 0 0 50%;

  > img {
    border-top-left-radius: var(--pad--sm);
    border-bottom-left-radius: var(--pad--sm);
    border-top-right-radius: 0;
    height: auto;

    @include useScreen("tablet-md") {
      height: 100%;
    }
  }
}

.project__title {
  padding-left: var(--pad--sm-2);

  @include useScreen("tablet-md") {
    padding-left: 0;
  }
}

.project__image {
  > img {
    height: auto;
    @include useScreen("tablet-md") {
      height: 100%;
    }
  }
}

.project-page {
  padding-top: 15rem;
  color: var(--color--white);

  p {
    line-height: 1.6;
    font-weight: 500;
  }

  &__header {
    @include flex(column, center, center);

    &__profile {
      margin-top: 2rem;
      margin-bottom: 8rem;

      display: flex;
      align-items: center;
      gap: 1rem;

      .logo {
        width: 4rem;
        height: 4rem;

        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);
        border: 2px solid #fafafc;

        img {
          padding: 0.4rem;
        }
      }
    }

    &__date {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__image {
      padding-left: 2rem;
      right: 0;

      > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center top;
      }
    }
  }

  &__title {
    padding: 0 8rem;
    max-width: 1200px;

    font-weight: 600;
    margin-bottom: var(--pad--sm-2);
  }

  &__content {
    padding: 3rem;

    @include useScreen("tablet-md") {
      padding: 10rem 18rem;
    }

    @include useScreen("desktop-md") {
      padding: 8rem;
    }

    &__introduction {
      font-weight: 500;
      line-height: 1.4;

      padding: 0 8rem 4rem 8rem;
    }

    &__outro {
      margin: 0 2rem;
      @include useScreen("tablet-md") {
        margin: 0 8rem;
      }
    }

    &__intro-image {
      height: auto;
      width: 100%;
      object-fit: cover;
      object-position: center top;

      padding-bottom: 4rem;
    }

    &__list li {
      padding: 1rem 0;

      list-style: decimal;
      margin: 0 4rem;

      @include useScreen("tablet-md") {
        margin: 0 12rem;
      }
      p:first-child {
        padding-bottom: 1rem;

        font-weight: 600;
      }
    }
  }
}

.hover {
  color: var(--color--black);

  width: calc(100% - 2rem);
  height: calc(100% - 2rem);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 0.5rem;

  &__categories {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      padding: 0.3rem 0.8rem;
      background-color: var(--color--white);

      border-radius: 30px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }

  &__title {
    padding: 0.5rem 0.8rem;
    font-weight: 500;

    background-color: var(--color--white);
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
