@use "vars" as *;
@use "./mixins" as *;
@use "../mixins" as *;

.skills {
  &-page {
    @include flex(column, center, center);
  }

  &-section {
    max-width: 80vw;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: var(--color--blue-grey-2);

    &__list {
      @include flex(row, center, center);
      gap: 2rem;
      flex-wrap: wrap;
      padding: 0 2rem;
    }

    &__slider {
      max-width: 88vw;
    }
  }

  &-header {
    @include flex(row, space-between, center);
    gap: 2rem;
  }

  &-animation {
    display: none;

    @include useScreen("tablet-sm") {
      display: block;
      width: 450px !important;
      height: auto;
    }
  }

  &-item {
    @include flex(column, space-evenly, center);
    gap: 2rem;
    position: relative;
    padding: 1.25rem 1.5rem;
    border-radius: var(--border-radius--lg);
    cursor: default;
    background: var(--color--white);

    &::before {
      z-index: -1;
      position: absolute;
      top: -0.2rem;
      right: -0.2rem;
      bottom: -0.2rem;
      left: -0.2rem;
      border-radius: var(--border-radius--lg);
      content: "";
      background: linear-gradient(
        90.13deg,
        var(--color--orange-2) 1.9%,
        var(--color--light-blue-3) 97.5%
      );
      background: -webkit-linear-gradient(
        90.13deg,
        var(--color--orange-2) 1.9%,
        var(--color--light-blue-3) 97.5%
      );
    }

    img {
      width: auto;
      max-width: 135px;
      height: auto;
      max-height: 100px;
    }
  }
}
[data-theme="dark"] .skills {
  &-item {
    &::before {
      background: linear-gradient(
        90.13deg,
        var(--color--light-blue-4) 1.9%,
        var(--color--orange-4) 97.5%
      );
      background: -webkit-linear-gradient(
        90.13deg,
        var(--color--light-blue-4) 1.9%,
        var(--color--orange-4) 97.5%
      );
    }

    background: var(--color--blue-grey-2);
  }
}

.skill {
  &-blocks {
    @include flex(column, center, center);
    gap: 1rem;
    width: 100%;
    padding-top: 3rem;
    cursor: alias;

    @include useScreen("tablet-sm") {
      padding: 0;
    }
  }

  &-block {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 60px;
    border-radius: var(--padding--sm);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.7s ease-out;
    transform-origin: center top;

    &__active {
      margin-bottom: 1rem;
      transform: scale(1.03);
    }

    @include useOnHover {
      @include box-shadow-7(var(--color--grey-opacity));
    }
    @include useOnClick {
      @include box-shadow-7(var(--color--light-opacity));
    }

    &__bg {
      object-fit: cover;
      width: 100%;
      height: 100px;
      border-radius: var(--padding--sm);
    }

    &__title {
      padding: 1rem 0;
      color: var(--color--white);
      font-weight: var(--font-weight--bold);
      text-align: center;
      text-transform: uppercase;
    }

    &:nth-child(2n + 1) .skill-block__title {
      text-shadow: 2px 2px 2px var(--color--light-blue-4);

      @include useOnHover {
        color: var(--color--light-blue-3);
        text-shadow: 2px 2px 2px var(--color--white);
      }
      @include useOnClick {
        color: var(--color--light-blue-4);
      }
    }
    &:nth-child(2n) .skill-block__title {
      text-shadow: 2px 2px 2px var(--color--orange-4);

      @include useOnHover {
        color: var(--color--orange-2);
        text-shadow: 2px 2px 2px var(--color--white);
      }
      @include useOnClick {
        color: var(--color--orange-3);
      }
    }

    &__overlay {
      @include flex(column, center, center);
      gap: 1rem;
      padding: 1rem 0;
      border-radius: var(--padding--sm);

      &-notActive {
        background: var(--color--grey-opacity);
      }

      &-active {
        background: var(--color--dark-opacity);
      }
    }
  }
}
[data-theme="dark"] .skill {
  &-block {
    @include useOnHover {
      @include box-shadow-7(var(--color--dark-opacity));
    }
    @include useOnClick {
      @include box-shadow-7(var(--color--grey-opacity));
    }

    &__title {
      color: var(--color--white-grey);
    }

    &:nth-child(2n) .skill-block__title {
      text-shadow: 2px 2px 2px var(--color--light-blue-4);

      @include useOnHover {
        color: var(--color--light-blue-3);
        text-shadow: 2px 2px 2px var(--color--white);
      }
      @include useOnClick {
        color: var(--color--light-blue-4);
      }
    }
    &:nth-child(2n + 1) .skill-block__title {
      text-shadow: 2px 2px 2px var(--color--orange-4);

      @include useOnHover {
        color: var(--color--orange-2);
        text-shadow: 2px 2px 2px var(--color--white);
      }
      @include useOnClick {
        color: var(--color--orange-3);
      }
    }

    &__overlay {
      &-notActive {
        background: var(--color--blue-grey-opacity);
      }

      &-active {
        background: var(--color--dark-blue-opacity);
      }
    }
  }
}

.bg1 {
  background: url("/images/bg/bg-1.webp");
}
.bg2 {
  background: url("/images/bg/bg-2.webp");
}
.bg3 {
  background: url("/images/bg/bg-3.webp");
}
.bg4 {
  background: url("/images/bg/bg-4.webp");
}
