:root {
  --transition: all 0.3s ease;

  --border-radius--sm: 0.5rem;
  --border-radius--md: 1rem;
  --border-radius--lg: 1.5rem;
  --border-radius--xl: 2.5rem;
  --border-radius--rounded: 50%;

  --color--bg-dark: #171410;
  --color--bg-grey: #4d4d4d4d;
  --color--bg-light: #fffaf5;
  --color--black: #151515;
  --color--blue: #2a5792;
  --color--blue-dark: #030508;
  --color--blue-grey-1: #797983;
  --color--blue-grey-2: #566575;
  --color--blue-grey-3: #1a3947;
  --color--blue-grey-4: #112833;
  --color--blue-grey-opacity: #5665755c;
  --color--blue-opacity: #d3f9ffae;
  --color--button-green: #073d17fe;
  --color--button-loading: #7b5c0efe;
  --color--button-red: #3d1507fe;
  --color--dark-blue-opacity: #3a91a15d;
  --color--dark-opacity: #151515a5;
  --color--grey: #3f3f3f;
  --color--grey-dark: #1a1a1a1a;
  --color--grey-opacity: #5a5a5a5a;
  --color--light-blue-1: #c3e1e5;
  --color--light-blue-2: #aad0d4;
  --color--light-blue-3: #68b8c1;
  --color--light-blue-4: #2a8a92;
  --color--light-blue-5: #01e2ff;
  --color--light-brown: #9f8575;
  --color--light-grey: #b5b3b0;
  --color--light-opacity: #fffaf593;
  --color--orange-1: #efbd9d;
  --color--orange-2: #fca26e;
  --color--orange-3: #f5751d;
  --color--orange-4: #f77532;
  --color--overlay: #14141414;
  --color--red-dark: #a4320cfe;
  --color--red-light: #ff5922fe;
  --color--peach: #ffe1c2;
  --color--white: #fbfcf8;
  --color--white-grey: #fbfcf8b5;

  --padding--sm: 1rem;
  --padding--sm-2: 1.5rem;
  --padding--md: 2rem;
  --padding--md-2: 2.5rem;
  --padding--lg: 3rem;
  --padding--lg-2: 3.5rem;

  --scale: 1.07;

  --level--1: translateZ(3rem);
  --level--2: translateZ(6rem);
  --level--3: translateZ(9rem);

  --filter-1: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  --filter-2: drop-shadow(1px 3px 0px rgba(0, 0, 0, 0.2));
  --filter-3: drop-shadow(1px 3px 0px rgba(0, 0, 0, 0.05));
  --filter-4: drop-shadow(1px 4px 7px rgba(0, 0, 0, 0.2));

  --font-size--1: clamp(2rem, min(1vw, 50px), 2.2rem);
  --font-size--2: clamp(1.8rem, min(1vw, 45px), 1.9rem);
  --font-size--3: clamp(1.6rem, min(1vw, 40px), 1.7rem);
  --font-size--4: clamp(1.2rem, min(1vw, 35px), 1.5rem);
  --font-size--5: clamp(1rem, min(1vw, 30px), 1.2rem);
  --font-size--6: clamp(0.9rem, min(1vw, 25px), 1rem);
  --font-size--7: clamp(0.8rem, min(1vw, 20px), 0.9rem);
  --font-size--8: clamp(0.6rem, min(1vw, 18px), 0.7rem);
  --font-size--9: clamp(0.8rem, min(1vw, 17px), 0.9rem);
  --font-size--10: clamp(0.4rem, min(1vw, 16px), 0.5rem);

  --font-weight--normal-1: 400;
  --font-weight--normal-2: 500;
  --font-weight--bold: 700;
}
