:root {
  --transition: all 0.3s ease;

  --border-radius--sm: 0.5rem;
  --border-radius--md: 1rem;
  --border-radius--lg: 1.5rem;
  --border-radius--xl: 2.5rem;
  --border-radius--rounded: 50%;

  --color--bg-dark: #171410;
  --color--bg-grey: #4d4d4d4d;
  --color--bg-light: #fffaf5;
  --color--black: #151515;
  --color--blue: #2a5792;
  --color--blue-grey-1: #797983;
  --color--blue-grey-2: #566575;
  --color--blue-grey-3: #1a3947;
  --color--blue-grey-4: #112833;
  --color--blue-grey-opacity: #5665755c;
  --color--blue-opacity: #d3f9ffae;
  --color--button-green: #073d17fe;
  --color--button-loading: #7b5c0efe;
  --color--button-red: #3d1507fe;
  --color--dark-blue-opacity: #3a91a15d;
  --color--dark-opacity: #151515a5;
  --color--grey: #3f3f3f;
  --color--grey-dark: #1a1a1a1a;
  --color--grey-opacity: #5a5a5a5a;
  --color--light-blue-1: #c3e1e5;
  --color--light-blue-2: #aad0d4;
  --color--light-blue-3: #68b8c1;
  --color--light-blue-4: #2a8a92;
  --color--light-blue-5: #01e2ff;
  --color--light-brown: #9f8575;
  --color--light-grey: #b5b3b0;
  --color--light-opacity: #fffaf593;
  --color--orange-1: #efbd9d;
  --color--orange-2: #fca26e;
  --color--orange-3: #f5751d;
  --color--orange-4: #f77532;
  --color--overlay: #14141414;
  --color--red-dark: #a4320cfe;
  --color--red-light: #ff5922fe;
  --color--peach: #ffe1c2;
  --color--white: #fbfcf8;
  --color--white-grey: #fbfcf8b5;

  --pad--sm: 1rem;
  --pad--sm-2: 1.5rem;
  --pad--md: 2rem;
  --pad--md-2: 2.5rem;
  --pad--lg: 3rem;
  --pad--lg-2: 3.5rem;

  --scale: 1.07;

  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;
}
